<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.autotag.WeAutoTagGroupSceneTagRelMapper">

    <resultMap type="com.easyink.wecom.domain.entity.autotag.WeAutoTagGroupSceneTagRel"
               id="WeAutoTagGroupSceneTagRelMap">
        <result property="groupSceneId" column="group_scene_id" jdbcType="INTEGER"/>
        <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="groupSceneId" useGeneratedKeys="true">
        insert into we_auto_tag_group_scene_tag_rel(rule_id,group_scene_id,tag_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.groupSceneId},#{entity.tagId})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="groupSceneId" useGeneratedKeys="true">
        insert into we_auto_tag_group_scene_tag_rel(rule_id,group_scene_id,tag_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.groupSceneId},#{entity.tagId})
        </foreach>
        on duplicate key update
        rule_id = values(rule_id),group_scene_id = values(group_scene_id),tag_id = values(tag_id)
    </insert>
    <select id="listTagNameListByRuleId" resultType="java.lang.String">
        SELECT wt.`name`
        FROM we_auto_tag_group_scene_tag_rel gstr
                 LEFT JOIN we_tag wt ON wt.tag_id = gstr.tag_id AND wt.corp_id = #{corpId}
        WHERE gstr.rule_id = #{ruleId}
    </select>
    <select id="listTagListByGroupSceneId" resultType="com.easyink.wecom.domain.vo.autotag.TagInfoVO">
        SELECT wt.tag_id,
               wt.`name` AS tag_name
        FROM we_auto_tag_group_scene_tag_rel gstr
                 LEFT JOIN we_tag wt ON wt.tag_id = gstr.tag_id AND wt.corp_id = #{corpId}
        WHERE gstr.group_scene_id = #{groupSceneId}
    </select>
    <select id="listTagListByRuleId" resultType="com.easyink.wecom.domain.vo.autotag.TagInfoVO">
        SELECT wt.tag_id,
               wt.`name` AS tag_name
        FROM we_auto_tag_group_scene_tag_rel gstr
                 LEFT JOIN we_tag wt ON wt.tag_id = gstr.tag_id AND wt.corp_id = #{corpId}
        WHERE gstr.rule_id = #{ruleId}
        GROUP BY wt.tag_id
    </select>

</mapper>

