<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.redeemcode.WeRedeemCodeMapper">

    <resultMap id="weRedeemCodeVOMap" type="com.easyink.wecom.domain.vo.redeemcode.WeRedeemCodeVO">
        <result property="activityId" column="activity_id"/>
        <result property="code" column="code"/>
        <result property="status" column="status"/>
        <result property="effectiveTime" column="effective_time"/>
        <result property="receiveUserId" column="receive_user_id"/>
        <result property="redeemTime" column="redeem_time"/>
        <result property="receiveName" column="receiveName"/>
        <!--        <association property="receiveName" column="{corpId=corp_id,externalUserId=receive_user_id}" javaType="String"-->
        <!--                     select="getReceiveName"></association>-->
    </resultMap>

    <resultMap id="weRedeemCodeMap" type="com.easyink.wecom.domain.entity.redeemcode.WeRedeemCode">
        <result property="activityId" column="activity_id"/>
        <result property="code" column="code"/>
        <result property="status" column="status"/>
        <result property="effectiveTime" column="effective_time"/>
        <result property="receiveUserId" column="receive_user_id"/>
        <result property="redeemTime" column="redeem_time"/>
    </resultMap>

    <insert id="insertWeRedeemCode">
        INSERT INTO we_redeem_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="activityId != null and activityId != 0">activity_id,</if>
            <if test="status != null and status != 0">status,</if>
            <if test="effectiveTime != null and effectiveTime != ''">effective_time,</if>
            <if test="redeemTime != null and redeemTime != ''">redeem_time,</if>
            <if test="receiveUserId != null and receiveUserId != ''">receive_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="activityId != null and activityId != 0">#{activityId},</if>
            <if test="status != null and status != 0">#{status},</if>
            <if test="effectiveTime != null and effectiveTime != ''">#{effectiveTime},</if>
            <if test="redeemTime != null and redeemTime != ''">#{redeemTime},</if>
            <if test="receiveUserId != null and receiveUserId != ''">#{receiveUserId}</if>
        </trim>
    </insert>
    <insert id="batchInsert">
        INSERT INTO we_redeem_code
        (activity_id, code, effective_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.activityId},#{item.code},#{item.effectiveTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        `activity_id` = VALUES(`activity_id`),code = VALUES(code),effective_time = VALUES(effective_time)
    </insert>
    <update id="updateWeRedeemCode">
        UPDATE we_redeem_code
        <set>
            status = #{status},
            <if test="effectiveTime != null and effectiveTime != ''">effective_time = #{effectiveTime},</if>
            <if test="redeemTime != null and redeemTime != ''">redeem_time = #{redeemTime},</if>
            receive_user_id = #{receiveUserId}
        </set>
        WHERE
        activity_id=#{activityId} AND code = #{code}
    </update>


    <select id="getReceiveName" resultType="java.lang.String">
        SELECT name
        from we_customer
        where external_userid = #{externalUserId}
          and corp_id = #{corpId}
    </select>

    <select id="selectWeRedeemCodeList"
            resultMap="weRedeemCodeVOMap">
        SELECT activity_id, code, status, effective_time, receive_user_id, redeem_time,
        wc.name receiveName
        FROM we_redeem_code wrc LEFT JOIN we_customer wc ON wc.external_userid = wrc.receive_user_id AND wc.corp_id =
        #{corpId}
        WHERE
        wrc.activity_id = #{activityId}
        <if test="code != null and code != ''">
            AND wrc.code like concat('%', #{code} , '%')
        </if>
        <if test="externalUserIdList != null and externalUserIdList.size() > 0">
            AND wrc.receive_user_id IN
            <foreach collection="externalUserIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="receiveStartTime != null and receiveStartTime != ''">
            AND wrc.redeem_time >= #{receiveStartTime}
        </if>
        <if test="receiveEndTime != null and receiveEndTime != ''">
            AND wrc.redeem_time &lt;= #{receiveEndTime}
        </if>
        <if test="status != null">
            AND wrc.status = #{status}
        </if>
        ORDER BY `status` ASC, redeem_time desc
    </select>
    <select id="selectOne" resultType="com.easyink.wecom.domain.entity.redeemcode.WeRedeemCode">
        SELECT code,
        status,
        effective_time,
        receive_user_id,
        redeem_time,
        wc.name receiveName
        FROM we_redeem_code wrc
        LEFT JOIN we_customer wc ON wc.external_userid = wrc.receive_user_id AND wc.corp_id = #{corpId}
        WHERE wrc.activity_id = #{activityId}
        <if test="code != null and code != ''">
            AND wrc.code = #{code}
        </if>
        <if test="receiveUserId != null and receiveUserId != ''">
            AND wrc.receive_user_id = #{receiveUserId}
        </if>
        LIMIT 1
    </select>
    <select id="selectOneWhenInEffective"
            resultMap="weRedeemCodeMap">
        SELECT wrc.activity_id,
               wrc.code,
               wrc.status,
               wrc.effective_time,
               wrc.receive_user_id,
               wrc.redeem_time
        FROM we_redeem_code_activity wrca
                 left join we_redeem_code wrc
                           ON wrc.activity_id = wrca.id AND wrca.corp_id = #{corpId} AND
                              (wrca.end_time >= #{effectiveTime} OR
                               wrca.end_time =
                               ${@com.easyink.common.constant.redeemcode.RedeemCodeConstants@REDEEM_CODE_EMPTY_TIME})
        WHERE wrc.activity_id = #{activityId}
          and status = ${@com.easyink.common.enums.redeemcode.RedeemCodeStatusEnum@NOT_ASSIGN.getType()}
          AND (wrc.effective_time <![CDATA[ >= ]]> #{effectiveTime} OR
               wrc.effective_time =
               ${@com.easyink.common.constant.redeemcode.RedeemCodeConstants@REDEEM_CODE_EMPTY_TIME})
        order by wrc.effective_time LIMIT 1
    </select>
    <select id="listWeRedeemCode" resultType="com.easyink.wecom.domain.entity.redeemcode.WeRedeemCode">
        select activity_id, code, status, effective_time, receive_user_id, effective_time, redeem_time
        from we_redeem_code
        where activity_id = #{id}
    </select>
</mapper>
