<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.autotag.WeAutoTagKeywordTagRelMapper">

    <resultMap type="com.easywecom.wecom.domain.entity.autotag.WeAutoTagKeywordTagRel" id="WeAutoTagKeywordTagRelMap">
        <result property="ruleId" column="rule_id" jdbcType="INTEGER"/>
        <result property="tagId" column="tag_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="ruleId" useGeneratedKeys="true">
        insert into we_auto_tag_keyword_tag_rel(rule_id,tag_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.tagId})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="ruleId" useGeneratedKeys="true">
        insert into we_auto_tag_keyword_tag_rel(rule_id,tag_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.tagId})
        </foreach>
        on duplicate key update
        rule_id = values(rule_id),tag_id = values(tag_id)
    </insert>
    <select id="listTagListByRuleId" resultType="com.easywecom.wecom.domain.vo.autotag.TagInfoVO">
        SELECT wt.tag_id,
               wt.`name` AS tag_name
        FROM we_auto_tag_keyword_tag_rel ktr
                 LEFT JOIN we_tag wt ON wt.tag_id = ktr.tag_id AND wt.corp_id = #{corpId}
        WHERE ktr.rule_id = #{ruleId}
        GROUP BY wt.tag_id
    </select>

    <select id="listTagNameListByRuleId" resultType="java.lang.String">
        SELECT wt.`name`
        FROM we_auto_tag_keyword_tag_rel ktr
                 LEFT JOIN we_tag wt ON wt.tag_id = ktr.tag_id AND wt.corp_id = #{corpId}
        WHERE ktr.rule_id = #{ruleId}
    </select>

</mapper>

