<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.autotag.WeAutoTagRuleHitCustomerRecordMapper">

    <resultMap type="com.easywecom.wecom.domain.entity.autotag.WeAutoTagRuleHitCustomerRecord"
               id="WeAutoTagRuleHitCustomerRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ruleId" column="rule_id" jdbcType="INTEGER"/>
        <result property="corpId" column="corp_id" jdbcType="VARCHAR"/>
        <result property="customerId" column="customer_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.easywecom.wecom.domain.vo.autotag.record.customer.CustomerTagRuleRecordVO"
               id="customerRecordListMap">
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="avatar" column="avatar"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="type" column="type"/>
        <result property="corpFullName" column="corp_full_name"/>
        <result property="addTime" column="add_time"/>
        <collection property="tagNameDistinctList" ofType="string"
                    column="{customerId=customer_id,userId=user_id,ruleId=rule_id}"
                    select="com.easywecom.wecom.mapper.autotag.WeAutoTagRuleHitCustomerRecordTagRelMapper.listDistinctTagNameList">
        </collection>
    </resultMap>
    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule_hit_customer_record(rule_id, corp_id, customer_id, user_id,
        add_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.corpId}, #{entity.customerId}, #{entity.userId}, #{entity.addTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule_hit_customer_record(rule_id, corp_id, customer_id, user_id,
        add_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.corpId}, #{entity.customerId}, #{entity.userId}, #{entity.addTime})
        </foreach>
        on duplicate key update
        rule_id = values(rule_id) , corp_id = values(corp_id) , customer_id = values(customer_id) , user_id =
        values(user_id) , add_time = values(add_time)
    </insert>
    <select id="listCustomerRecord"
            resultMap="customerRecordListMap">
        SELECT wc.external_userid AS customer_id,
        wc.name AS customer_name,
        wc.avatar,
        wu.user_id,
        wu.user_name,
        wc.type,
        wc.corp_name AS corp_full_name,
        hcr.rule_id,
        hcr.add_time
        FROM we_auto_tag_rule_hit_customer_record hcr
        LEFT JOIN we_customer wc ON wc.external_userid = hcr.customer_id AND wc.corp_id = #{corpId}
        LEFT JOIN we_user wu ON wu.user_id = hcr.user_id AND wu.corp_id = #{corpId}
        WHERE hcr.rule_id = #{ruleId}
        AND hcr.corp_id = #{corpId}
        <if test="customerName != null and customerName != ''">
            <bind name="likeCustomerName" value="'%' + customerName + '%'"/>
            AND wc.name LIKE #{likeCustomerName}
        </if>
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
            AND hcr.add_time BETWEEN #{beginTime} AND #{endTime}
        </if>
        <if test="userIdList != null and userIdList.size() > 0">
            AND wu.user_id IN
            <foreach collection="userIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY hcr.add_time DESC
    </select>
    <select id="customerCustomerCount" resultType="java.lang.String">
        SELECT customer_id
        FROM we_auto_tag_rule_hit_customer_record cr
        WHERE cr.rule_id = #{ruleId}
          AND cr.corp_id = #{corpId}
    </select>

</mapper>

