<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.autotag.WeAutoTagRuleHitKeywordRecordMapper">

    <resultMap type="com.easywecom.wecom.domain.entity.autotag.WeAutoTagRuleHitKeywordRecord"
               id="WeAutoTagRuleHitKeywordRecordMap">
        <result property="corpId" column="corp_id" jdbcType="VARCHAR"/>
        <result property="ruleId" column="rule_id" jdbcType="INTEGER"/>
        <result property="customerId" column="customer_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
        <result property="fromText" column="from_text" jdbcType="VARCHAR"/>
        <result property="hitTime" column="hit_time" jdbcType="TIMESTAMP"/>
        <result property="matchType" column="match_type" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.easywecom.wecom.domain.vo.autotag.record.keyword.KeywordTagRuleRecordVO"
               id="keywordRecordListMap">
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="avatar" column="avatar"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="type" column="type"/>
        <result property="corpFullName" column="corp_full_name"/>
        <result property="hitCount" column="hit_count"/>
        <collection property="tagNameDistinctList" ofType="string"
                    column="{customerId=customer_id,userId=user_id,ruleId=rule_id}"
                    select="com.easywecom.wecom.mapper.autotag.WeAutoTagRuleHitKeywordRecordTagRelMapper.listDistinctTagNameList">
        </collection>
    </resultMap>
    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule_hit_keyword_record(corp_id, rule_id, customer_id, user_id,
        keyword, from_text, hit_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.corpId}, #{entity.ruleId}, #{entity.customerId}, #{entity.userId}, #{entity.keyword},
            #{entity.fromText}, #{entity.hitTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule_hit_keyword_record(corp_id, rule_id, customer_id, user_id,
        keyword, from_text, hit_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.corpId}, #{entity.ruleId}, #{entity.customerId}, #{entity.userId}, #{entity.keyword},
            #{entity.fromText}, #{entity.hitTime})
        </foreach>
        on duplicate key update
        corp_id = values(corp_id) , rule_id = values(rule_id) , customer_id = values(customer_id) , user_id =
        values(user_id) , keyword = values(keyword) , from_text = values(from_text) , hit_time = values(hit_time)
    </insert>
    <select id="listKeywordRecord"
            resultMap="keywordRecordListMap">
        SELECT wc.external_userid AS customer_id,
        wc.name AS customer_name,
        wc.avatar,
        wu.user_id,
        wu.user_name,
        wc.type,
        wc.corp_name AS corp_full_name,
        hkr.rule_id,
        hkr.corp_id,
        count(1) AS hit_count
        FROM we_auto_tag_rule_hit_keyword_record hkr
        LEFT JOIN we_customer wc ON wc.external_userid = hkr.customer_id AND wc.corp_id = #{corpId}
        LEFT JOIN we_user wu ON wu.user_id = hkr.user_id AND wu.corp_id = #{corpId}
        WHERE hkr.rule_id = #{ruleId}
        AND hkr.corp_id = #{corpId}
        <if test="customerName != null and customerName != ''">
            <bind name="likeCustomerName" value="'%' + customerName + '%'"/>
            AND wc.name LIKE #{likeCustomerName}
        </if>
        <if test="userIdList != null and userIdList.size() > 0">
            AND wu.user_id IN
            <foreach collection="userIdList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY hkr.customer_id, hkr.user_id
        ORDER BY hkr.hit_time DESC
    </select>
    <select id="listKeywordDetail"
            resultType="com.easywecom.wecom.domain.vo.autotag.record.keyword.KeywordRecordDetailVO">
        SELECT hkr.keyword,
        hkr.from_text,
        hkr.hit_time AS create_time
        FROM we_auto_tag_rule_hit_keyword_record hkr
        WHERE hkr.rule_id = #{ruleId}
        AND hkr.customer_id = #{customerId}
        AND hkr.user_id = #{userId}
        <if test="keyword != null and keyword != ''">
            <bind name="likeKeyword" value="'%' + keyword + '%'"/>
            AND hkr.keyword LIKE #{likeKeyword}
        </if>
        ORDER BY hkr.hit_time DESC
    </select>
    <select id="keywordCustomerCount" resultType="java.lang.String">
        SELECT customer_id
        FROM (SELECT kr.customer_id, kr.user_id
              FROM we_auto_tag_rule_hit_keyword_record kr
              WHERE kr.rule_id = #{ruleId}
                AND kr.corp_id = #{corpId}
              GROUP BY kr.customer_id, kr.user_id) a
    </select>
</mapper>

