<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.common.mapper.SysRoleDeptMapper">

    <resultMap type="SysRoleDept" id="SysRoleDeptResult">
        <result property="roleId" column="role_id"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <delete id="deleteRoleDeptByRoleId" parameterType="Long">
        delete
        from sys_role_dept
        where role_id = #{roleId}
    </delete>

    <select id="selectCountRoleDeptByDeptId" resultType="Integer">
        select count(1) from sys_role_dept where dept_id=#{deptId}
    </select>
    <!--    根据当前部门id获取其当前和所有子部门id-->
    <select id="getDeptAndChildDept" resultType="java.lang.String">
        SELECT
            GROUP_CONCAT(t.p_ids)
        FROM
            (
                SELECT
                    @ids AS p_ids,
                    (
                        SELECT
                            @ids := GROUP_CONCAT(id)
                        FROM we_department
                        WHERE corp_id = #{corpId}
                          AND FIND_IN_SET(parent_id, @ids)
                    )    AS c_ids,
                    @l := @l + 1 AS LEVEL
                FROM we_department,
                     (SELECT @ids := #{departmentId}, @l := 0) b
                WHERE corp_id = #{corpId}
                  AND @ids IS NOT NULL
            ) t
    </select>


    <select id="getDeptByRoleId" resultType="Long">
        SELECT dept_id
        FROM sys_role_dept
        WHERE corp_id = #{corpId}
          AND role_id = #{roleId}
    </select>
    <select id="getAllDeptList" resultType="java.lang.String">
        SELECT id
        FROM we_department
        WHERE corp_id = #{corpId}
    </select>

    <delete id="deleteRoleDept" parameterType="Long">
        delete from sys_role_dept where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="batchRoleDept">
        insert into sys_role_dept(role_id,corp_id, dept_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.roleId},#{item.corpId},#{item.deptId})
        </foreach>
    </insert>

</mapper> 