<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.WeCustomerSeedMessageMapper">
    <delete id="deleteByMessageId">
        delete
        wcs
        from
        we_customer_seedmessage wcs
        left join we_customer_message wcm on wcm.message_id = wcs.message_id
        left join we_customer_messageoriginal wcmo on wcmo.message_original_Id = wcm.original_id
        where
        wcs.message_id = #{messageId}
        AND wcmo.corp_id = #{corpId}
    </delete>
</mapper>