<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.WeEmpleCodeAnalyseMapper">

    <select id="selectList" parameterType="com.easywecom.wecom.domain.dto.emplecode.FindWeEmpleCodeAnalyseDTO"
            resultType="com.easywecom.wecom.domain.WeEmpleCodeAnalyse">
        SELECT
        `id`,
        `corp_id`,
        `emple_code_id`,
        `user_id`,
        `external_userid`,
        `time`,
        `type`
        FROM
        we_emple_code_analyse
        WHERE corp_id = #{corpId}
        <if test="state!=null and state!=''">
            AND emple_code_id = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND user_id = #{userId}
        </if>
        <if test="beginTime!=null and beginTime!=''">
            AND `time` &gt;= #{beginTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND `time` &lt;= #{endTime}
        </if>
    </select>

    <select id="selectCountList" parameterType="com.easywecom.wecom.domain.dto.emplecode.FindWeEmpleCodeAnalyseDTO"
            resultType="com.easywecom.wecom.domain.vo.WeEmplyCodeAnalyseCountVO">
        SELECT
        SUM(IF( `type` = 1, 1, 0 )) addCount,
        SUM(IF( `type` = 0, 1, 0 )) loseCount,
        `time`
        FROM
        we_emple_code_analyse
        WHERE corp_id = #{corpId}
        <if test="state!=null">
            AND emple_code_id = #{state}
        </if>
        <if test="userId!=null and userId!=''">
            AND user_id = #{userId}
        </if>
        <if test="beginTime!=null and beginTime!=''">
            AND `time` &gt;= #{beginTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND `time` &lt;= #{endTime}
        </if>
        GROUP BY `time`
    </select>


    <insert id="insert" parameterType="com.easywecom.wecom.domain.WeEmpleCodeAnalyse">
        INSERT IGNORE INTO `we_emple_code_analyse`
        (
        `corp_id`,
        `emple_code_id`,
        `user_id`,
        `external_userid`,
        `time`,
        `type`
        )
        VALUES
        (
        #{corpId},
        #{empleCodeId},
        #{userId},
        #{externalUserId},
        #{time},
        #{type}
        );
    </insert>

</mapper>