<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.WeEmpleCodeMaterialMapper">

    <insert id="batchInsert">
        insert into we_emple_code_material(
        emple_code_id,
        media_id,
        media_type
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.empleCodeId}
            ,#{item.mediaId}
            ,#{item.mediaType}
            )
        </foreach>
    </insert>
    <select id="findByEmplyCodeIdAndMaterialId" resultType="com.easywecom.wecom.domain.WeEmpleCodeMaterial">
        SELECT
            id, emple_code_id,media_id,media_type
        FROM
            we_emple_code_material
        WHERE
            emple_code_id = #{emplyCodeId}
            AND media_id IN (${materialSort})
        ORDER BY
            FIELD(media_id,${materialSort})
    </select>

    <update id="updateGroupCodeMediaIdByEmpleCodeId">
        UPDATE we_emple_code_material
        SET media_id =#{mediaId}
        WHERE
            emple_code_id = #{emplyCodeId}
            AND media_type = ${@com.easywecom.common.constant.WeConstans@DEFAULT_GROUP_CODE_MEDIA_TYPE}
    </update>

    <delete id="removeByEmpleCodeId">
        DELETE FROM we_emple_code_material
        WHERE emple_code_id IN
        <foreach collection="emplyCodeIdList" item="item" index="index"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>