<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easywecom.wecom.mapper.WeMaterialTagRelMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.easywecom.wecom.domain.WeMaterialTagRelEntity" id="weMaterialTagRelMap">
        <result property="id" column="id"/>
        <result property="materialId" column="material_id"/>
        <result property="materialTagId" column="material_tag_id"/>
    </resultMap>

    <!-- 批量新增忽略主键冲突 -->
    <insert id="batchInsert" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT IGNORE INTO we_material_tag_rel
        ( material_id,material_tag_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.materialId},#{item.materialTagId})
        </foreach>
    </insert>

    <delete id="deleteBatchByMaterialId">
        DELETE wmtr
        FROM
        we_material_tag_rel AS wmtr
        LEFT JOIN we_material_tag AS wmt ON wmtr.material_tag_id = wmt.id
        <where>
            wmt.corp_id = #{corpId}
            AND wmtr.material_id IN(
            <foreach collection="materialIds" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </delete>
    <delete id="deleteBatchByEntities">
        DELETE
        FROM
        we_material_tag_rel
        WHERE
        ( material_id, material_tag_id) IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            (#{item.materialId},#{item.materialTagId})
        </foreach>
    </delete>

    <select id="listOfTagRelByMaterialId" resultType="com.easywecom.wecom.domain.vo.WeMaterialAndTagRel">
        select id relId,material_tag_id materialTagId from we_material_tag_rel rel WHERE rel.material_id = #{materialId}
    </select>


</mapper>