<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easywecom.wecom.mapper.WeMsgTlpMaterialMapper">

    <sql id="defaultsql">
        SELECT id,
               default_msg_id,
               special_msg_id,
               `type`,
               content,
               pic_url,
               description,
               url,
               sort_no
    </sql>

    <select id="selectWeMsgTlpMaterialListByDefaultMsgId"
            resultType="com.easywecom.wecom.domain.WeMsgTlpMaterial">
        <include refid="defaultsql"/>
        FROM we_msg_tlp_material
        WHERE default_msg_id = #{defaultMsgId} AND special_msg_id = 0
        ORDER BY sort_no ASC
    </select>
    <select id="selectWeMsgTlpMaterialListBySpecialMsgId"
            resultType="com.easywecom.wecom.domain.WeMsgTlpMaterial">
        <include refid="defaultsql"/>
        FROM we_msg_tlp_material
        WHERE special_msg_id = #{specialMsgId}
        ORDER BY sort_no ASC
    </select>

</mapper>