<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easywecom.wecom.mapper.WeOperationsCenterSopMaterialMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.easywecom.wecom.domain.vo.sop.SopRuleVO" id="weOperationsCenterSopMaterialMap">
         <result property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="sopId" column="sop_id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="materialId" column="material_id"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="allColumns">
      id
     ,corp_id
     ,sop_id
     ,rule_id
     ,material_id
     ,sort
    </sql>



</mapper>