<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easywecom.wecom.mapper.WeOperationsCenterSopMapper">

    <resultMap id="listOfMap" type="com.easywecom.wecom.domain.vo.sop.BaseWeOperationsCenterSopVo">
        <result property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
        <result property="sopType" column="sop_type"/>
        <result property="filterType" column="filter_type"/>
        <result property="isOpen" column="is_open"/>
        <result property="createBy" column="create_by"/>
        <result property="createUserName" column="createUserName"/>
        <result property="mainDepartmentName" column="mainDepartmentName"/>
        <collection property="scopeList" column="{corpId=corp_id,sopId=id}" ofType="com.easywecom.wecom.domain.vo.sop.WeOperationsCenterSopScopeVO" select="com.easywecom.wecom.mapper.WeOperationsCenterSopScopeMapper.selectByCorpIdAndSopId"/>
    </resultMap>


    <select id="getSop" resultType="com.easywecom.wecom.domain.vo.WeOperationsCenterSopVo">
        SELECT
            wocs.id,
            wocs.`name`,
            wocs.corp_id,
            wocs.create_by,
        IF
            ( wocs.`create_by` != 'admin', wu.user_name, wocs.`create_by` ) createUserName,
            IFNULL( wd.NAME, '' ) AS mainDepartmentName,
            wocs.create_time,
            wocs.sop_type,
            wocs.is_open,
            wocs.filter_type
        FROM
            we_operations_center_sop wocs
            LEFT JOIN we_operations_center_sop_scope wocss ON wocs.id = wocss.sop_id
            AND wocs.corp_id = wocss.corp_id
            LEFT JOIN we_user wu ON wu.user_id = wocs.create_by
            AND wu.corp_id = wocs.corp_id
            LEFT JOIN we_department wd ON wd.id = wu.department
            AND wd.corp_id = wocs.corp_id
        WHERE
            wocs.corp_id = #{corpId}
            AND wocs.id = #{sopId}
            LIMIT 1
    </select>

    <delete id="delSopByCorpIdAndSopIdList">
        DELETE FROM `we_operations_center_sop`
        WHERE
        corp_id = #{corpId}
        AND id IN
        <foreach collection="sopIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="list" resultMap="listOfMap">
        SELECT
            wocs.id,
            wocs.corp_id,
            wocs.name,
            wocs.create_time,
            wocs.sop_type,
            wocs.filter_type,
            wocs.is_open,
            wocs.create_by,
            IF( wu.user_name IS NULL, wocs.create_by, wu.user_name ) createUserName,
            IF( wd.`name` IS NULL, '', wd.`name` ) mainDepartmentName
        FROM
            we_operations_center_sop wocs
            LEFT JOIN we_user wu ON wocs.corp_id = wu.corp_id AND wocs.create_by = wu.user_id
            LEFT JOIN we_department wd ON wocs.corp_id = wd.corp_id AND wu.main_department = wd.id
            LEFT JOIN we_operations_center_sop_scope wescope ON wocs.corp_id = wescope.corp_id AND wocs.id = wescope.sop_id
            LEFT JOIN we_user wu1 ON wescope.corp_id = wu1.corp_id AND wescope.target_id = wu1.user_id
        WHERE
            wocs.corp_id = #{corpId}
            AND wocs.sop_type = #{sopType}
            <if test="userName !=null and userName != ''">
                AND wu1.user_name LIKE concat('%', #{userName}, '%')
            </if>
            <if test="isOpen !=null">
                AND wocs.is_open = #{isOpen}
            </if>
            <if test="name !=null and name!=''">
                AND wocs.name LIKE concat('%', #{name}, '%')
            </if>
        GROUP BY wocs.id
        ORDER BY  wocs.id DESC
    </select>

    <update id="batchSwitch">
        UPDATE we_operations_center_sop
        SET
          is_open = #{isOpen}
        WHERE corp_id = #{corpId}
        AND id IN
        <foreach collection="sopIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateSop">
        UPDATE we_operations_center_sop
        SET
          `name` = #{name},
          `filter_type` = #{filterType}
        WHERE corp_id = #{corpId}
        AND id = #{sopId}
    </update>

</mapper>