<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easywecom.wecom.mapper.moment.WeMomentUserCustomerRelMapper">

    <sql id="allColumns">
      moment_task_id
     ,user_id
     ,external_userid
    </sql>

    <insert id="saveIgnoreDuplicateKey" >
        INSERT ignore INTO we_moment_user_customer_rel(
             moment_task_id
            ,user_id
            ,external_userid
        )
        VALUES
        <foreach collection="list" index="index" separator="," item="item">
            (
            #{item.momentTaskId},
            #{item.userId},
            #{item.externalUserid}
            )
        </foreach>
    </insert>
</mapper>