<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 日志存放路径 -->
    <springProperty scope="context" name="LOG_MAX_SIZE" source="logging.file.max-size"/>
    <springProperty scope="context" name="LOG_NAME" source="logging.file.name"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <springProperty scope="context" name="LOG_MAX_HISTORY" source="logging.file.max-history"/>

    <!-- 日志输出格式 -->
    <property name="log.pattern"
              value="%white([%date{yyyy-MM-dd HH:mm:ss.SSS}]) %clr([%-5level])  %gray([%-20thread]) %highlight([%file:%line]) - %msg%n"/>


    <!-- 系统日志输出 -->
    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}_Info.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/log}${LOG_NAME:-/Scrm.log}_Info.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY:-15}</maxHistory> <!-- 保留180天 -->
            <maxFileSize>${LOG_MAX_SIZE:-100MB}</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}_ERROR.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/log}${LOG_NAME:-/Scrm.log}_Error.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY:-15}</maxHistory> <!-- 保留180天 -->
            <maxFileSize>${LOG_MAX_SIZE:-100MB}</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- 用户访问日志输出  -->
    <appender name="FILE_USER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}_USER.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-/log}${LOG_NAME:-/Scrm.log}_User.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${LOG_MAX_HISTORY:-15}</maxHistory> <!-- 保留180天 -->
            <maxFileSize>${LOG_MAX_SIZE:-100MB}</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>512</discardingThreshold>
        <queueSize>4096</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref ="FILE_INFO"/>
    </appender>

    <appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>512</discardingThreshold>
        <queueSize>4096</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref ="FILE_ERROR"/>
    </appender>

    <appender name="ASYNC_USER" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>512</discardingThreshold>
        <queueSize>4096</queueSize>
        <neverBlock>true</neverBlock>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref ="FILE_USER"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>



    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--系统操作日志-->
    <root level="info">
        <appender-ref ref="ASYNC_INFO"/>
        <appender-ref ref="ASYNC_ERROR"/>
    </root>

    <!--系统用户操作日志-->
    <logger name="sys-user" level="info">
        <appender-ref ref="ASYNC_USER"/>
    </logger>
</configuration> 