<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyink.wecom.mapper.OrderUserToOrderAccountMapper">


    <select id="listOfBindDetail" resultType="com.easyink.wecom.domain.vo.BindDetailVO">
        select
        outoa.id
        ,wu.user_id
        ,wu.user_name
        ,wu.head_image_url
        ,outoa.order_user_id
        ,outoa.order_user_name
        ,outoa.bind_time
        ,IF( outoa.order_user_id IS NULL OR order_user_id = '', 0, 1 ) as bindStatus
        from we_user wu
        left join order_user_to_order_account outoa on outoa.user_id = wu.user_id and outoa.corp_id = wu.corp_id
        <where>
            wu.corp_id = #{corpId}
            and (outoa.network_id = #{networkId} or outoa.network_id is null)
            and wu.is_activate = 1
            <if test="userName != null and userName != ''">
                <bind name="likeUserName" value="'%' + userName + '%'"/>
                and wu.user_name like #{likeUserName}
            </if>
            <if test="orderUserName != null and orderUserName != ''">
                <bind name="likeOrderUserName" value="'%' + orderUserName + '%'"/>
                and outoa.order_user_name like #{likeOrderUserName}
            </if>
            <if test="bindStatus == 0">
                and outoa.id is null
            </if>
            <if test="bindStatus == 1">
                and outoa.id is not null
            </if>
        </where>
        ORDER BY
        wu.user_id ASC
    </select>
</mapper>