<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeCustomerExtendPropertyRelMapper">


    <insert id="batchInsert">
        INSERT INTO we_customer_extend_property_rel
        (
        corp_id, user_id,external_userid, extend_property_id, property_value
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.corpId},#{item.userId},#{item.externalUserid},#{item.extendPropertyId},#{item.propertyValue}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        property_value = VALUES(property_value)
    </insert>
    <!--    自定义字段接替-->
    <update id="transferProp">
        UPDATE we_customer_extend_property_rel
        SET user_id = #{takeoverUserid}
        WHERE corp_id = #{corpId}
          AND user_id = #{handoverUserid}
          AND external_userid = #{externalUserid}
    </update>
    <select id="listOfPropertyIdAndValue"
            resultType="java.lang.String">
        SELECT
        wcepr.external_userid
        FROM
        we_customer wc
        LEFT JOIN we_customer_extend_property_rel wcepr ON wcepr.external_userid = wc.external_userid
        WHERE
        wcepr.property_value =
        CASE
        <foreach collection="list" item="item" index="index">
            WHEN wcepr.extend_property_id = #{item.extendPropertyId} THEN
            #{item.propertyValue}
        </foreach>
        END
        GROUP BY
        wcepr.external_userid
    </select>
    <!--  根据extend_property_id, userId查询所有符合条件的客户额外字段关系  -->
    <select id="selectBaseExtendValue" resultType="com.easyink.common.core.domain.sop.CustomerSopPropertyRel">
        SELECT
            wcepr.external_userid, wcepr.user_id, wcepr.extend_property_id, wcepr.property_value
        FROM
            we_customer wc
                LEFT JOIN we_customer_extend_property_rel wcepr ON wcepr.external_userid = wc.external_userid
        WHERE
            wcepr.extend_property_id IN
        <foreach collection="columnList" item="item" open="(" separator="," close=")" index="index">
            #{item.extendPropertyId}
        </foreach>
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND wcepr.user_id in
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND wcepr.user_id=#{userIds}
            </if>
        </if>
    </select>
    <!--  根据extend_property_id查询客户所属的除日期范围选择外的所有额外字段值  -->
    <select id="selectExtendGroupByCustomer"
            resultType="com.easyink.common.core.domain.sop.CustomerSopPropertyRel">
        SELECT
        wcepr.external_userid, wcepr.user_id, wcepr.extend_property_id, GROUP_CONCAT(wcepr.property_value) AS propertyValue
        FROM
        we_customer wc
        LEFT JOIN we_customer_extend_property_rel wcepr ON wcepr.external_userid = wc.external_userid
        WHERE
        wcepr.extend_property_id IN
        <foreach collection="extendPropertyIds" item="item" open="(" separator="," close=")" index="index">
            #{item}
        </foreach>
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND wcepr.user_id in
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND wcepr.user_id=#{userIds}
            </if>
        </if>
        GROUP BY wcepr.external_userid
    </select>

</mapper>