<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeCustomerMessageTimeTaskMapper">

    <resultMap id="tasks" type="com.easyink.wecom.domain.WeCustomerMessageTimeTask">
        <id column="task_id" property="taskId"/>
        <result column="message_id" property="messageId"/>
        <result column="message_info" property="messageInfo"
                typeHandler="com.easyink.wecom.handler.GenericTypeHandler"/>
        <result column="customers_info" property="customersInfo"
                typeHandler="com.easyink.wecom.handler.ListTypeHandler"/>
        <result column="groups_info" property="groupsInfo"
                typeHandler="com.easyink.wecom.handler.ListTypeHandler"/>
        <result column="setting_time" property="settingTime"/>
    </resultMap>
    <insert id="saveWeCustomerMessageTimeTask">
        INSERT INTO we_customer_messageTimeTask (
        message_id,
        message_info,
        customers_info,
        groups_info,
        setting_time
        )
        VALUES
        (
        #{messageId},
        #{messageInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.GenericTypeHandler},
        <choose>
            <when test="customersInfo !=null and customersInfo.size !=0">
                #{customersInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.ListTypeHandler},
            </when>
            <otherwise>
                "",
            </otherwise>
        </choose>
        <choose>
            <when test="groupsInfo !=null and groupsInfo.size !=0">
                #{groupsInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.ListTypeHandler},
            </when>
            <otherwise>
                "",
            </otherwise>
        </choose>
        #{settingTime}
        )
    </insert>
    <update id="updateTaskSolvedById">
        UPDATE we_customer_messageTimeTask
        <set>
            solved=1
        </set>
        <where>
            task_id=#{taskId}
        </where>
    </update>
    <update id="updateById">
        UPDATE we_customer_messagetimetask
        <set>
            <if test="taskId != null">
                task_id = #{taskId},
            </if>
            <if test="messageId != null">
                message_id = #{messageId},
            </if>
            <if test="messageInfo != null">
                message_info =
                #{messageInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.GenericTypeHandler},
            </if>
            <choose>
                <when test="customersInfo !=null and customersInfo.size !=0">
                    customers_info =
                    #{customersInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.ListTypeHandler},
                </when>
                <otherwise>
                    customers_info = "",
                </otherwise>
            </choose>
            <choose>
                <when test="groupsInfo !=null and groupsInfo.size !=0">
                    groups_info =
                    #{groupsInfo,jdbcType=OTHER,typeHandler=com.easyink.wecom.handler.ListTypeHandler},
                </when>
                <otherwise>
                    groups_info = "",
                </otherwise>
            </choose>
            <if test="settingTime != null">
                setting_time = #{settingTime},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="solved != null">
                solved = #{solved},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        WHERE task_id = #{taskId}
    </update>

    <select id="selectWeCustomerMessageTimeTaskGteSettingTime" resultMap="tasks">
        SELECT
        task_id,
        message_id,
        message_info,
        customers_info,
        groups_info,
        setting_time
        FROM
        we_customer_messageTimeTask
        <where>
            setting_time <![CDATA[<=]]> #{timeMillis} AND solved=0
            AND del_flag = ${@com.easyink.common.constant.WeConstans@WE_CUSTOMER_MSG_RESULT_NO_DEFALE}
        </where>
    </select>

    <select id="getTimeTask" resultMap="tasks">
        SELECT
        task_id,
        message_id,
        message_info,
        customers_info,
        groups_info,
        setting_time
        FROM
        we_customer_messageTimeTask
        <where>
            del_flag = 0
            AND ( message_id = #{messageId} )
            LIMIT 1
        </where>
    </select>

</mapper>