<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeCustomerMessgaeResultMapper">

    <insert id="batchInsert">
        INSERT INTO we_customer_messgaeResult (
        messgae_result_id,
        message_id,
        external_userid,
        chat_id,
        userid,
        `status`,
        send_time,
        external_name,
        user_name,
        send_type,
        setting_time,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        chat_name
        )
        VALUES
        <foreach collection="customers" item="item" separator="," index="index">
            (#{item.messgaeResultId},
            #{item.messageId},
            <choose>
                <when test="item.externalUserid != null and item.externalUserid != ''">
                    #{item.externalUserid},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.chatId != null and item.chatId != ''">
                    #{item.chatId},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.userid != null and item.userid != ''">
                    #{item.userid},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.status != null and item.status != ''">
                    #{item.status},
                </when>
                <otherwise>
                    "0",
                </otherwise>
            </choose>
            <choose>
                <when test="item.sendTime != null">
                    #{item.sendTime},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.externalName != null and item.externalName != ''">
                    #{item.externalName},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.userName != null and item.userName != ''">
                    #{item.userName},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.sendType != null and item.sendType != ''">
                    #{item.sendType},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.settingTime != null">
                    #{item.settingTime},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.createBy != null and item.createBy != ''">
                    #{item.createBy},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.createTime != null">
                    #{item.createTime},
                </when>
                <otherwise>
                    "0000-00-00 00:00:00",
                </otherwise>
            </choose>
            <choose>
                <when test="item.updateBy != null and item.updateBy != ''">
                    #{item.updateBy},
                </when>
                <otherwise>
                    "",
                </otherwise>
            </choose>
            <choose>
                <when test="item.updateTime != null">
                    #{item.updateTime},
                </when>
                <otherwise>
                    "0000-00-00 00:00:00",
                </otherwise>
            </choose>
            <choose>
                <when test="item.delFlag != null and item.delFlag != ''">
                    #{item.delFlag},
                </when>
                <otherwise>
                    0,
                </otherwise>
            </choose>
            <choose>
                <when test="item.chatName != null and item.chatName != ''">
                    #{item.chatName}
                </when>
                <otherwise>
                    ""
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <update id="updateWeCustomerMessgaeResult">
        UPDATE we_customer_messgaeResult
        <set>
            <if test="sendTime!=null and sendTime!=''">
                send_time=#{sendTime},
            </if>
            <if test="status!=null and status!=''">
                status=#{status},
            </if>
            <if test="remark!=null">
                remark=#{remark}
            </if>
        </set>
        <where>
            message_id=#{messageId}
            <choose>
                <when test="chatId!=null and chatId!=''">
                    AND chat_id=#{chatId}
                </when>
                <when test="userId != null and userId !='' ">
                    AND userid = #{userId}
                </when>
            </choose>
            <if test="externalUserid!=null and externalUserid!=''">
                AND external_userid=#{externalUserid}
            </if>
        </where>
    </update>
    <delete id="deleteByMessageId">
        delete
        wcmr
        from
        we_customer_messgaeResult wcmr
        left join we_customer_message wcm on wcm.message_id = wcmr.message_id
        left join we_customer_messageoriginal wcmo on wcmo.message_original_Id = wcm.original_id
        where
        wcmr.message_id = #{messageId}
        AND wcmo.corp_id = #{corpId}
    </delete>


    <select id="customerMessagePushs" parameterType="com.easyink.wecom.domain.dto.WeCustomerMessagePushResultDTO"
            resultType="com.easyink.wecom.domain.vo.WeCustomerMessageResultVO">
        SELECT
        wcm.user_name,
        wu.user_id,
        wu.head_image_url,
        IF(wcm.`status`!='1','3','2') sendStatus,
        wcm.remark,
        GROUP_CONCAT( IF ( wcm.external_name = '', wg.group_name, wcm.external_name ) SEPARATOR '、' ) customers,
        count(IF(wcm.external_name = '', wg.group_name, wcm.external_name)) `count`
        FROM
        we_customer_messgaeResult wcm
        LEFT JOIN we_group wg ON wg.chat_id = wcm.chat_id
        LEFT JOIN we_customer_message m ON m.message_id = wcm.message_id
        LEFT JOIN we_customer_messageoriginal wcmo ON wcmo.message_original_Id = m.original_id
        LEFT JOIN we_user wu on (wcm.userid = wu.user_id or wg.owner = wu.user_id) AND wu.corp_id = wcmo.corp_id
        <where>
            m.original_id = (
                SELECT original_id 
                FROM we_customer_message 
                WHERE message_id=#{messageId}
            )
            AND wcmo.corp_id = #{corpId}
            AND wcm.`status`='0'
            <if test="userName !=null and userName !=''">
                AND wcm.user_name LIKE concat('%', #{userName}, '%')
            </if>
        </where>
        GROUP BY wcm.userid
    </select>

    <select id="listOfMessageResult" parameterType="com.easyink.wecom.domain.dto.WeCustomerMessagePushResultDTO"
            resultType="com.easyink.wecom.domain.vo.WeCustomerMessageResultVO">
        SELECT
        wcm.user_name,
        wc.avatar head_image_url,
        IF
        ( wcm.`status` != '1', '3', '2' ) sendStatus,
        wcm.remark,
        IF
        ( wcm.external_name = '', wg.group_name, wcm.external_name ) customers,
        IF(wcm.external_userid = '',wcm.chat_id,wcm.external_userid) receiverId
        FROM
        we_customer_messgaeResult wcm
        LEFT JOIN we_group wg ON wg.chat_id = wcm.chat_id
        LEFT JOIN we_customer_message m ON m.message_id = wcm.message_id
        LEFT JOIN we_customer_messageoriginal wcmo ON wcmo.message_original_Id = m.original_id
        LEFT JOIN we_customer wc ON wcm.external_userid = wc.external_userid AND wc.corp_id = wcmo.corp_id
        <where>
            m.original_id = (
                SELECT original_id 
                FROM we_customer_message 
                WHERE message_id=#{messageId}
            )
            AND wcmo.corp_id = #{corpId}
            <choose>
                <when test="sendStatus!=null and sendStatus == '1'.toString()">
                    AND wcm.`status`!= '0'
                </when>
                <when test="sendStatus!=null and sendStatus == '2'.toString()">
                    AND wcm.`status`= '1'
                </when>
                <otherwise>
                    AND wcm.`status` NOT IN ('0','1')
                </otherwise>
            </choose>
            <if test="userName !=null and userName !=''">
                AND wcm.user_name LIKE concat('%', #{userName}, '%')
            </if>
            <if test="customerName !=null and customerName !=''">
                AND wcm.external_name LIKE concat('%', #{customerName}, '%')
            </if>
            <if test="groupName !=null and groupName !=''">
                AND wg.group_name LIKE concat('%', #{groupName}, '%')
            </if>
        </where>
        GROUP BY
        customers,receiverId
    </select>



    <select id="listOfNotSend" resultType="com.easyink.wecom.domain.dto.message.MessageIdDTO">
        SELECT
        wcm.message_id,
        m.msgid as msg_id
        FROM
        we_customer_messgaeResult wcm
        LEFT JOIN we_customer_message m ON m.message_id = wcm.message_id
        LEFT JOIN we_customer_messageoriginal wcmo ON wcmo.message_original_Id = m.original_id
        <where>
            wcmo.corp_id = #{corpId}
            AND wcm.`status`= 0
            AND wcm.create_time BETWEEN #{startTime} AND #{endTime}
            AND m.timed_task = 0
        </where>
        GROUP BY wcm.message_id
        UNION ALL
        SELECT
        wcm.message_id,
        m.msgid as msg_id
        FROM
        we_customer_messgaeResult wcm
        LEFT JOIN we_customer_messagetimetask wcmt ON wcmt.message_id = wcm.message_id
        LEFT JOIN we_customer_message m ON m.message_id = wcm.message_id
        LEFT JOIN we_customer_messageoriginal wcmo ON wcmo.message_original_Id = m.original_id
        <where>
            wcmo.corp_id = #{corpId}
            AND wcm.`status`= 0
            AND wcmt.setting_time >= #{startTimestamp} AND wcmt.setting_time <![CDATA[ <= ]]> #{endTimestamp}
            AND m.timed_task = 1
        </where>
        GROUP BY wcm.message_id
    </select>
    <select id="checkSendStatus" resultType="java.lang.Integer">
        SELECT

        COUNT(1)
        FROM
        we_customer_messgaeResult
        <where>
            message_id =#{messageId} AND `status`!='0'
        </where>
    </select>
    <!--查询微信消息发送的客户情况（未执行）-->
    <select id="messagePushsByCustomer" resultType="com.easyink.wecom.domain.vo.WeCustomerMessageResultVO">
        SELECT
        wcm.user_name,
        IF(wcm.external_name = '', wg.group_name, wcm.external_name) customers
        FROM
        we_customer_messgaeResult wcm
        LEFT JOIN we_group wg ON wg.chat_id = wcm.chat_id
        LEFT JOIN we_customer_message m ON m.message_id = wcm.message_id
        LEFT JOIN we_customer_messageoriginal wcmo ON wcmo.message_original_Id = m.original_id
        LEFT JOIN we_user wu on (wcm.userid = wu.user_id or wg.owner = wu.user_id) AND wu.corp_id = wcmo.corp_id
        <where>
            m.original_id = (
                SELECT original_id 
                FROM we_customer_message 
                WHERE message_id=#{messageId}
            )
            AND wcmo.corp_id = #{corpId}
            AND wcm.`status`= '${@com.easyink.common.constant.WeConstans$sendMessageStatusEnum@NOT_SEND.status}'
            <if test="userName !=null and userName !=''">
                AND wcm.user_name LIKE concat('%', #{userName}, '%')
            </if>
        </where>
    </select>

</mapper>