<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeCustomerExtendPropertyMapper">

    <!--    保存或修改客户自定义属性-->
    <insert id="insertOrUpdate" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.easyink.wecom.domain.entity.customer.WeCustomerExtendProperty">
        INSERT INTO we_customer_extend_property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="required != null">
                required,
            </if>
            <if test="liveCodeRequired != null">
                live_code_required,
            </if>
            <if test="extra != null">
                extra,
            </if>
            <if test="propertySort != null">
                property_sort,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null and createBy != ''">
                create_by,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="corpId != null">
                #{corpId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="required != null">
                #{required},
            </if>
            <if test="liveCodeRequired != null">
                #{liveCodeRequired},
            </if>
            <if test="extra != null">
                #{extra},
            </if>
            <if test="propertySort != null">
                #{propertySort},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="createBy != null and createBy != ''">
                #{createBy},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim prefixOverrides="" suffixOverrides=",">
            <if test="name != null">

                `name` = VALUES(`name`),
            </if>
            <if test="type != null">
                type = VALUES(type),
            </if>
            <if test="extra != null">
                extra = VALUES(extra),
            </if>
            <if test="required != null">
                required = VALUES(required),
            </if>
           <if test="liveCodeRequired != null">
               live_code_required = VALUES(live_code_required),
            </if>
            <if test="propertySort != null">
                property_sort = VALUES(property_sort),
            </if>
            <if test="status != null">
                `status` = VALUES(`status`),
            </if>
        </trim>
    </insert>
    <!--    批量插入-->
    <insert id="batchInsert">
        INSERT INTO we_customer_extend_property
        (
        corp_id,
        `name`,
        type,
        property_sort,
        create_by
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.corpId},
            #{item.name},
            #{item.type},
            #{item.propertySort},
            #{item.createBy}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `name` = VALUES(`name`),
        type = VALUES(type),
        property_sort = VALUES(property_sort),
        `status` = VALUES(`status`)
    </insert>
    <!--    批量插入/更新-->
    <insert id="insertOrUpdateBatch" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.easyink.wecom.domain.entity.customer.WeCustomerExtendProperty">
        INSERT INTO we_customer_extend_property
        (
        `corp_id`,
        `name`,
        `type`,
        `required`,
        `property_sort`,
        `status`
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.corpId},
            #{item.name},
            #{item.type},
            #{item.required},
            #{item.propertySort},
            #{item.status}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `name` = VALUES(`name`),
        `type` = VALUES(`type`),
        `required` = VALUES(`required`),
        `property_sort` = VALUES(`property_sort`),
        `status` = VALUES(`status`)
    </insert>


    <!--    客户自定义属性列表返回结果映射-->
    <resultMap id="propListMap" type="com.easyink.wecom.domain.entity.customer.WeCustomerExtendProperty">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="required" property="required"/>
        <result column="live_code_required" property="liveCodeRequired"/>
        <result column="extra" property="extra"/>
        <result column="property_sort" property="propertySort"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <collection property="optionList"
                    ofType="com.easyink.wecom.domain.entity.customer.ExtendPropertyMultipleOption">
            <result property="id" column="optionId"/>
            <result property="extendPropertyId" column="extend_property_id"/>
            <result property="multipleValue" column="multiple_value"/>
            <result property="optionSort" column="option_sort"/>
        </collection>
    </resultMap>
    <!--    客户扩展属性列表-->
    <select id="getList" resultMap="propListMap">
        SELECT wcep.id, wcep.name, wcep.type, wcep.required, wcep.live_code_required, wcep.property_sort,wcep.extra,
        wcep.status,wcep.create_time,wcep.create_by,wcep.update_time,
        epmo.id as optionId,epmo.extend_property_id,epmo.multiple_value,epmo.option_sort
        FROM we_customer_extend_property wcep
        LEFT JOIN extend_property_multiple_option epmo ON wcep.id =
        epmo.extend_property_id
        WHERE wcep.corp_id = #{corpId}
        <if test="name != null and name != ''">AND wcep.name LIKE CONCAT('%',#{name},'%')</if>
        <if test="status != null">AND wcep.status = #{status}</if>
        <if test="required != null">AND wcep.required = #{required}</if>
        <if test="liveCodeRequired != null">AND wcep.live_code_required = #{liveCodeRequired}</if>
        ORDER BY wcep.property_sort, epmo.option_sort
    </select>
    <!--    根据客户id获取扩展属性-->
    <select id="getPropByCustomer" resultType="com.easyink.common.core.domain.wecom.BaseExtendPropertyRel">
        select wcepr.extend_property_id, wcepr.property_value,wcepr.user_id, wcepr.external_userid,wcep.type as property_type
        from we_customer_extend_property_rel wcepr
        left join we_customer_extend_property wcep on wcep.id = wcepr.extend_property_id
        where
        wcepr.corp_id = #{corpId}
        <if test="list != null and list.size()>0" >
            AND
            (
            <foreach collection="list" item="rel" separator=" OR ">
                (wcepr.user_id = #{rel.userId} AND wcepr.external_userid = #{rel.externalUserid} )
            </foreach>
            )
        </if>
    </select>
</mapper>