<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeFlowerCustomerTagRelMapper">

    <resultMap type="WeFlowerCustomerTagRel" id="WeFlowerCustomerTagRelResult">
        <result property="id" column="id"/>
        <result property="flowerCustomerRelId" column="flower_customer_rel_id"/>
        <result property="tagId" column="tag_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectWeFlowerCustomerTagRelVo">
        select id, flower_customer_rel_id, tag_id, create_time from we_flower_customer_tag_rel
    </sql>

    <select id="selectWeFlowerCustomerTagRelList" parameterType="WeFlowerCustomerTagRel"
            resultMap="WeFlowerCustomerTagRelResult">
        <include refid="selectWeFlowerCustomerTagRelVo"/>
        <where>
            <if test="flowerCustomerRelId != null ">and flower_customer_rel_id = #{flowerCustomerRelId}</if>
            <if test="tagId != null ">and tag_id = #{tagId}</if>
        </where>
    </select>

    <select id="selectWeFlowerCustomerTagRelById" parameterType="Long" resultMap="WeFlowerCustomerTagRelResult">
        <include refid="selectWeFlowerCustomerTagRelVo"/>
        where id = #{id}
    </select>
    <select id="getTagRelByRelIds" resultType="com.easyink.wecom.domain.WeFlowerCustomerTagRel">
        select  wfctr.flower_customer_rel_id, wfctr.tag_id, wt.name as tagName, wt.group_id from we_flower_customer_tag_rel wfctr left join
        we_tag wt on wfctr.tag_id = wt.tag_id
        WHERE  wfctr.flower_customer_rel_id
        IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertWeFlowerCustomerTagRel" parameterType="WeFlowerCustomerTagRel">
        insert into we_flower_customer_tag_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="flowerCustomerRelId != null">flower_customer_rel_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="externalUserid != null">external_userid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="flowerCustomerRelId != null">#{flowerCustomerRelId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="externalUserid != null">#{externalUserid},</if>
        </trim>
    </insert>

    <update id="updateWeFlowerCustomerTagRel" parameterType="WeFlowerCustomerTagRel">
        update we_flower_customer_tag_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowerCustomerRelId != null">flower_customer_rel_id = #{flowerCustomerRelId},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>
    <!--    接替标签关系-->
    <update id="transferTag">
        UPDATE we_flower_customer_tag_rel
        SET flower_customer_rel_id = #{takeoverRelId}
        WHERE flower_customer_rel_id = #{handoverRelId}
    </update>

    <delete id="deleteWeFlowerCustomerTagRelById" parameterType="Long">
        delete
        from we_flower_customer_tag_rel
        where id = #{id}
    </delete>

    <delete id="deleteWeFlowerCustomerTagRelByIds" parameterType="String">
        delete from we_flower_customer_tag_rel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="removeByCustomerIdAndUserId">
        DELETE
        FROM we_flower_customer_tag_rel
        WHERE flower_customer_rel_id =
        (
        SELECT id
        FROM we_flower_customer_rel
        WHERE corp_id = #{corpId} AND external_userid = #{externalUserid}
        AND user_id = #{userId}
        LIMIT 1
        )
        <if test="list != null and list.size()>0">
            AND tag_id IN
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </delete>
    <delete id="removeByRelId">
        DELETE
        FROM we_flower_customer_tag_rel
        WHERE flower_customer_rel_id = #{relId}
    </delete>


    <insert id="batchInsetWeFlowerCustomerTagRel">
        insert into we_flower_customer_tag_rel (id, flower_customer_rel_id, tag_id, create_time, external_userid)
        values
        <foreach collection="list" item="tag" index="index" separator=",">
            (#{tag.id},#{tag.flowerCustomerRelId},#{tag.tagId},#{tag.createTime},#{tag.externalUserid})
        </foreach>
        ON DUPLICATE key update
        flower_customer_rel_id=values(flower_customer_rel_id),
        tag_id=values(tag_id)
    </insert>
    <!--    批量更新/插入-->
    <insert id="batchInsert" parameterType="com.easyink.wecom.domain.WeFlowerCustomerTagRel">
        INSERT INTO we_flower_customer_tag_rel
        (id, flower_customer_rel_id, tag_id,external_userid)
        VALUES
        <foreach collection="list" item="tag" index="index" separator=",">
            (
             #{tag.id},#{tag.flowerCustomerRelId},#{tag.tagId},#{tag.externalUserid}
             )
        </foreach>
        ON DUPLICATE KEY UPDATE
        flower_customer_rel_id = VALUES(flower_customer_rel_id)
    </insert>

</mapper>