<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeFlowerCustomerRelMapper">

    <resultMap type="WeFlowerCustomerRel" id="WeFlowerCustomerRelResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="remark" column="remark"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="remarkCorpName" column="remark_corp_name"/>
        <!--        <result property="remarkMobiles"    column="remark_mobiles"    />-->
        <result property="operUserid" column="oper_userid"/>
        <result property="addWay" column="add_way"/>
        <result property="state" column="state"/>
        <result property="customerId" column="customer_id"/>
    </resultMap>

    <sql id="selectWeFlowerCustomerRelVo">
        select id,
               user_id,
               remark,
               description,
               create_time,
               remark_corp_name,
               remark_mobiles,
               oper_userid,
               add_way,
               state,
               customer_id
        from we_flower_customer_rel
    </sql>

    <insert id="insertWeFlowerCustomerRel" parameterType="WeFlowerCustomerRel">
        insert into we_flower_customer_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remarkCorpName != null">remark_corp_name,</if>
            <!--            <if test="remarkMobiles != null">remark_mobiles,</if>-->
            <if test="operUserid != null">oper_userid,</if>
            <if test="addWay != null">add_way,</if>
            <if test="state != null">state,</if>
            <if test="customerId != null">customer_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remarkCorpName != null">#{remarkCorpName},</if>
            <!--            <if test="remarkMobiles != null">#{remarkMobiles},</if>-->
            <if test="operUserid != null">#{operUserid},</if>
            <if test="addWay != null">#{addWay},</if>
            <if test="state != null">#{state},</if>
            <if test="customerId != null">#{customerId},</if>
        </trim>
    </insert>

    <delete id="deleteWeFlowerCustomerRelByIds" parameterType="String">
        delete from we_flower_customer_rel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="myBatchUpdateOrInsert" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO we_flower_customer_rel
            (
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">id,</if>
                <if test="item.userId != null">user_id,</if>
                <if test="item.externalUserid != null">external_userid,</if>
                <if test="item.operUserid != null">oper_userid,</if>
                <if test="item.remark != null">remark,</if>
                <if test="item.description != null">description,</if>
                <if test="item.createTime != null">create_time,</if>
                <if test="item.remarkCorpName != null">remark_corp_name,</if>
                <if test="item.remarkMobiles != null">remark_mobiles,</if>
                <if test="item.qq != null">qq,</if>
                <if test="item.corpId != null">corp_id,</if>
                <if test="item.address != null">address,</if>
                <if test="item.email != null">email,</if>
                <if test="item.addWay != null">add_way,</if>
                <if test="item.state != null">state,</if>
                <if test="item.status != null">status,</if>
            </trim>
            )
            VALUES
            (
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">#{item.id},</if>
                <if test="item.userId != null">#{item.userId},</if>
                <if test="item.externalUserid != null">#{item.externalUserid},</if>
                <if test="item.operUserid != null">#{item.operUserid},</if>
                <if test="item.remark != null">#{item.remark},</if>
                <if test="item.description != null">#{item.description},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.remarkCorpName != null">#{item.remarkCorpName},</if>
                <if test="item.remarkMobiles != null">#{item.remarkMobiles},</if>
                <if test="item.qq != null">#{item.qq},</if>
                <if test="item.corpId != null">#{item.corpId},</if>
                <if test="item.address != null">#{item.address},</if>
                <if test="item.email != null">#{item.email},</if>
                <if test="item.addWay != null">#{item.addWay},</if>
                <if test="item.state != null">#{item.state},</if>
                <if test="item.status != null">#{item.status},</if>
            </trim>
            )ON DUPLICATE KEY UPDATE
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">id=#{item.id},</if>
                <if test="item.userId != null">user_id=#{item.userId},</if>
                <if test="item.externalUserid != null">external_userid=#{item.externalUserid},</if>
                <if test="item.operUserid != null">oper_userid=#{item.operUserid},</if>
                <if test="item.remark != null">remark=#{item.remark},</if>
                <if test="item.description != null">description=#{item.description},</if>
                <if test="item.createTime != null">create_time=#{item.createTime},</if>
                <if test="item.remarkCorpName != null">remark_corp_name=#{item.remarkCorpName},</if>
                <if test="item.remarkMobiles != null">remark_mobiles=#{item.remarkMobiles},</if>
                <if test="item.qq != null">qq=#{item.qq},</if>
                <if test="item.corpId != null">corp_id = #{item.corpId},</if>
                <if test="item.address != null">address=#{item.address},</if>
                <if test="item.email != null">email=#{item.email},</if>
                <if test="item.addWay != null">add_way=#{item.addWay},</if>
                <if test="item.state != null">state=#{item.state},</if>
                <if test="item.status != null">status=#{item.status},</if>
            </trim>
        </foreach>

    </insert>
    <!--    批量插入-->
    <insert id="batchInsert" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        INSERT INTO we_flower_customer_rel
        (id, user_id, external_userid, corp_id, oper_userid, remark, description, remark_corp_name, remark_mobiles,
        add_way, state,wechat_channel,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}, #{item.userId}, #{item.externalUserid}, #{item.corpId},
            #{item.operUserid}, #{item.remark}, #{item.description}, #{item.remarkCorpName},
            #{item.remarkMobiles},
            #{item.addWay}, #{item.state},#{item.wechatChannel},#{item.createTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        remark = VALUES(remark),description = VALUES(description),remark_corp_name = VALUES(remark_corp_name),
        remark_mobiles = VALUES(remark_mobiles),add_way = VALUES(add_way),`state` =
        VALUES(`state`),wechat_channel = VALUES(wechat_channel),create_time = VALUES(create_time)
    </insert>
    <!--    保存/更新-->
    <insert id="saveOrUpdate" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        INSERT INTO we_flower_customer_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="externalUserid != null">
                external_userid,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="operUserid != null">
                oper_userid,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="description != null">
                `description`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remarkCorpName != null">
                remark_corp_name,
            </if>
            <if test="remarkMobiles != null">
                remark_mobiles,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="addWay != null">
                add_way,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="wechatChannel != null">
                wechat_channel,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="externalUserid != null">
                #{externalUserid},
            </if>
            <if test="corpId != null">
                #{corpId},
            </if>
            <if test="operUserid != null">
                #{operUserid},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="remarkCorpName != null">
                #{remarkCorpName},
            </if>
            <if test="remarkMobiles != null">
                #{remarkMobiles},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="addWay != null">
                #{addWay},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="deleteTime != null">
                #{deleteTime},
            </if>
            <if test="wechatChannel != null">
                #{wechatChannel},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim prefixOverrides="" suffixOverrides=",">
            <if test="remark != null">remark = VALUES(remark),</if>
            <if test="description != null">`description` =VALUES(`description`),</if>
            <if test="remarkCorpName != null">remark_corp_name = VALUES(remark_corp_name),</if>
            <if test="remarkMobiles != null">remark_mobiles = VALUES(remark_mobiles),</if>
            <if test="qq != null">qq = VALUES(qq),</if>
            <if test="address != null">address = VALUES(address),</if>
            <if test="email != null">email = VALUES(email),</if>
            <if test="addWay != null">add_way =VALUES(add_way),</if>
            <if test="state != null">state =VALUES(state),</if>
            <if test="status != null">`status` = VALUES(`status`),</if>
            <if test="deleteTime != null">delete_time = VALUES(delete_time),</if>
            <if test="wechatChannel != null">wechat_channel = VALUES(wechat_channel),</if>
        </trim>
    </insert>
    <!--批量更新客户关系的状态、添加时间-->
    <insert id="batchUpdateStatus">
        INSERT INTO we_flower_customer_rel
        (id, user_id, external_userid, corp_id, status, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},#{item.userId}, #{item.externalUserid}, #{item.corpId},#{item.status},IFNULL(#{item.createTime}, `create_time`)
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `status`=VALUES(`status`),`create_time` = IFNULL(VALUES(`create_time`), `create_time`)
    </insert>

    <!--    转接员工客户关系-->
    <update id="transferRel">
        UPDATE we_flower_customer_rel
        SET id          = #{takeoverRelId},
            user_id     = #{takeoverUserid},
            create_time = now()
        WHERE corp_id = #{corpId}
          AND id = #{handoverRelId}
    </update>

    <!--更新已流失重新添加回来的客户状态-->
    <update id="updateLossExternalUser">
        UPDATE we_flower_customer_rel
        SET status = '${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}'
        WHERE corp_id = #{corpId}
          AND user_id = #{userId}
          AND external_userid = #{external_userid}
    </update>

    <select id="getUserAddCustomerStat" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel"
            resultType="java.util.Map">
        select
        left(wfcr.create_time,10) as createTime ,
        ifnull(count(*),0) as total
        from
        we_flower_customer_rel wfcr
        <where>
            wfcr.corp_id = #{corpId}
            and wfcr.state = #{state}
            <if test="addWay != null and addWay != ''">and wfcr.add_way = #{addWay}</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND wfcr.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND wfcr.create_time &lt;= #{endTime}
            </if>
        </where>
        group by
        left(wfcr.create_time,10)
    </select>

    <!--查询员工当天的客户总数和流失客户数-->
    <select id="getTotalContactAndLossCnt" resultType="com.easyink.wecom.domain.WeUserBehaviorData">
        SELECT
                IFNULL((SELECT COUNT(id)
                    FROM we_flower_customer_rel
                    WHERE
                        corp_id = #{corpId}
                        AND user_id = #{userId}
                        AND status = '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}'
                        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                            AND create_time &gt;= #{beginTime}
                        </if>
                        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                            AND create_time &lt;= #{endTime}
                        </if>
                        ), 0) AS newCustomerLossCnt,
                IFNULL((SELECT COUNT(id)
                    FROM we_flower_customer_rel
                    WHERE
                        corp_id = #{corpId}
                        AND user_id = #{userId}
                        AND status NOT IN ('${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}', '${@com.easyink.common.enums.CustomerStatusEnum@DELETE.code}')
                        AND create_time &lt;= #{endTime}
                        ), 0) AS contactTotalCnt
    </select>
<!--    根据unionId 查询客户-->
    <select id="getByUnionIds" resultType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        SELECT
        wc.`external_userid`,
        wc.`name` AS userName,
        wc.`corp_id`,
        wc.`unionid` as unionId,
        wfcr.id ,
        wfcr.`user_id`,
        wfcr.`status`
        FROM
        we_customer wc
        LEFT JOIN we_flower_customer_rel wfcr ON wc.corp_id = wfcr.corp_id
        AND wc.external_userid = wfcr.external_userid
        WHERE
        wc.corp_id = #{corpId}
        AND wc.unionid IN
        <if test="unionIds != null and unionIds.size() >0">
            <foreach collection="unionIds" item="unionId" separator="," open="(" close=")" >
                #{unionId}
            </foreach>
        </if>
        AND wfcr.status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}', '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}')
    </select>
    <!--    根据手机号 查询客户-->
    <select id="getByMobiles" resultType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        SELECT
        wfcr.external_userid,
        wfcr.user_id,
        wfcr.corp_id,
        wfcr.remark_mobiles,
        wfcr. STATUS,
        wfcr.id
        FROM
        we_flower_customer_rel wfcr
        WHERE
        wfcr.corp_id = #{corpId}
        AND wfcr.remark_mobiles IN
        <if test="mobiles != null and mobiles.size()>0" >
            <foreach collection="mobiles" item="mobile" separator="," open="(" close=")" >
                #{mobile}
            </foreach>
        </if>
        AND wfcr.status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}', '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}')
    </select>
    <!--根据开始，结束时间和员工ID，获取员工维度-截止时间下的有效客户数-->
    <select id="getCurrNewCustomerCntByUser"
            resultType="com.easyink.wecom.domain.vo.statistics.CustomerOverviewVO">
        SELECT user_id AS userId, COUNT(external_userid) AS currentNewCustomerCnt
        FROM we_flower_customer_rel
        WHERE corp_id = #{corpId}
        AND `status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
        <if test="beginTime != null and beginTime != ''">
            AND `create_time` &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND `create_time` &lt;= #{endTime}
        </if>
        <if test="userIds != null and userIds.size() > 0">
            AND user_id IN
            <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        GROUP BY user_id
    </select>
    <!--根据开始，结束时间和员工ID，获取日期维度-截止时间下的有效客户数-->
    <select id="getCurrNewCustomerCntByTime"
            resultType="com.easyink.wecom.domain.vo.statistics.CustomerOverviewVO">
        SELECT DATE_FORMAT(wfcr.create_time, '%Y-%m-%d') AS xTime, COUNT(wfcr.external_userid) AS currentNewCustomerCnt
        FROM we_flower_customer_rel wfcr
        LEFT JOIN we_user wu ON wu.user_id = wfcr.user_id AND wu.corp_id = wfcr.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = wu.corp_id
        WHERE wfcr.corp_id = #{corpId}
        ${params.dataScope}
        AND wu.is_activate = ${@com.easyink.common.constant.WeConstans@WE_USER_IS_ACTIVATE}
        AND wfcr.`status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
        <if test="beginTime != null and beginTime != ''">
            AND wfcr.`create_time` &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND wfcr.`create_time` &lt;= #{endTime}
        </if>
        <if test="userIds != null and userIds.size() > 0">
            AND wfcr.user_id IN
            <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        GROUP BY xTime
    </select>
    <!--根据（数据权限），开始，结束时间，获取截止时间下的有效客户数-->
    <select id="getCurrentNewCustomerCntByDataScope" resultType="java.lang.Integer">
        SELECT COUNT(wfcr.external_userid) AS currentNewCustomerCnt
        FROM we_flower_customer_rel wfcr
        LEFT JOIN we_user wu ON wu.user_id = wfcr.user_id AND wu.corp_id = wfcr.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = wu.corp_id
        WHERE wfcr.corp_id = #{corpId}
        ${params.dataScope}
        AND wu.is_activate = ${@com.easyink.common.constant.WeConstans@WE_USER_IS_ACTIVATE}
        AND wfcr.`status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
        <if test="beginTime != null and beginTime != ''">
            AND wfcr.`create_time` &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND wfcr.`create_time` &lt;= #{endTime}
        </if>
        <if test="userIds != null and userIds.size() > 0">
            AND wfcr.user_id IN
            <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
    </select>
    <!--获客链接详情-渠道维度-渠道累计客户数-->
    <select id="getChannelRelAccumulateCnt" resultType="com.easyink.wecom.domain.vo.emple.WeEmpleCodeChannelRelVO">
        SELECT SUM(CASE WHEN `type` = '${@com.easyink.common.enums.WeEmpleCodeAnalyseTypeEnum@ADD.type}' THEN 1 ELSE 0 END) AS customerCnt,
               channel_id AS `state`
        FROM we_emple_code_analyse WHERE corp_id = #{corpId}
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND user_id = #{userIds}
            </if>
        </if>
        <if test="channelIdList != null and channelIdList.size() > 0">
            AND channel_id IN
            <foreach collection="channelIdList" item="channelId" open="(" separator="," close=")">
                #{channelId}
            </foreach>
        </if>
        <if test="endTime != null and endTime != ''">
            AND time &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        </if>
        GROUP BY `state`
    </select>
    <!--获客链接详情-渠道维度-渠道未流失的客户数（有效客户数）-->
    <select id="getChannelRelEffectCnt" resultType="com.easyink.wecom.domain.vo.emple.WeEmpleCodeChannelRelVO">
        SELECT SUM(CASE WHEN `status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}' ) THEN 1 ELSE 0 END) AS customerCnt, state
        FROM we_flower_customer_rel WHERE corp_id = #{corpId}
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND user_id = #{userIds}
            </if>
        </if>
        <if test="stateList != null and stateList.size() > 0">
            AND state IN
            <foreach collection="stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND create_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        GROUP BY state
    </select>
    <!--获客链接详情-日期维度-渠道累计客户数-->
    <select id="getChannelDateRelAccumulateCnt"
            resultType="com.easyink.wecom.domain.vo.emple.WeEmpleCodeChannelRelVO">
        SELECT SUM(CASE WHEN `type` = '${@com.easyink.common.enums.WeEmpleCodeAnalyseTypeEnum@ADD.type}' THEN 1 ELSE 0 END) AS customerCnt,
               `time` AS `date`
        FROM we_emple_code_analyse WHERE corp_id = #{corpId}
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND user_id = #{userIds}
            </if>
        </if>
        <if test="channelIdList != null and channelIdList.size() > 0">
            AND channel_id IN
            <foreach collection="channelIdList" item="channelId" open="(" separator="," close=")">
                #{channelId}
            </foreach>
        </if>
        <if test="endTime != null and endTime != ''">
            AND `time` &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        </if>
        GROUP BY `date`
    </select>
    <!--获客链接详情-日期维度-渠道未流失的客户数（有效客户数）-->
    <select id="getChannelDateRelEffectCnt"
            resultType="com.easyink.wecom.domain.vo.emple.WeEmpleCodeChannelRelVO">
        SELECT SUM(CASE WHEN `status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}' ) THEN 1 ELSE 0 END) AS customerCnt, DATE_FORMAT(create_time, '%Y-%m-%d') AS `date`
        FROM we_flower_customer_rel WHERE corp_id = #{corpId}
        <if test="userIds != null and userIds !=''">
            <if test="userIds.indexOf(',') != -1">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds.split(',')" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userIds.indexOf(',') == -1">
                AND user_id = #{userIds}
            </if>
        </if>
        <if test="stateList != null and stateList.size() > 0">
            AND state IN
            <foreach collection="stateList" item="state" open="(" separator="," close=")">
                #{state}
            </foreach>
        </if>
        <if test="beginTime != null and beginTime != ''">
            AND create_time &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        GROUP BY `date`
    </select>
    <!--根据结束时间和已激活(is_active = 1)员工ID列表, 获取首页-数据总览-客户总数-->
    <select id="getNormalTotalAllContactCnt" resultType="java.lang.Integer">
        SELECT COUNT(external_userid) FROM we_flower_customer_rel
        WHERE corp_id = #{corpId}
              AND status != '${@com.easyink.common.enums.CustomerStatusEnum@DELETE.code}'
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="normalUserIdList != null and normalUserIdList.size() > 0">
            AND user_id IN
            <foreach collection="normalUserIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
    </select>
    <!--根据结束时间和已离职员工(is_active = 6)ID列表, 获取首页-数据总览-客户总数-->
    <select id="getDelTotalAllContactCnt" resultType="java.lang.Integer">
        SELECT COUNT(external_userid) FROM we_flower_customer_rel
        WHERE corp_id = #{corpId}
        AND status = '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}'
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="delUserIdList != null and delUserIdList.size() > 0">
            AND user_id IN
            <foreach collection="delUserIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
    </select>
    <!--根据员工id获取数据统计-客户联系-客户总数-->
    <select id="getTotalAllContactCntByUserId" resultType="com.easyink.wecom.domain.WeUserBehaviorData">
        SELECT user_id, corp_id, COUNT(external_userid) AS totalAllContactCnt
        FROM we_flower_customer_rel
        WHERE corp_id = #{corpId}
        AND status != '${@com.easyink.common.enums.CustomerStatusEnum@DELETE.code}'
        <if test="endTime != null and endTime != ''">
            AND create_time &lt;= #{endTime}
        </if>
        <if test="userIdList != null and userIdList.size() > 0">
            AND user_id IN
            <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        GROUP BY user_id
    </select>
    <!--获取数据权限下的externalUserid列表-->
    <select id="selectExternalUseridByDataScope" resultType="com.easyink.wecom.domain.vo.customer.SessionArchiveCustomerVO">
        SELECT
        external_userid, create_time
        FROM
        we_flower_customer_rel
        WHERE
        user_id IN (
        SELECT
        user_id
        FROM
        we_user wu
        INNER JOIN we_department wd ON wu.corp_id = wd.corp_id
        AND wd.id = wu.main_department
        AND wu.is_activate = ${@com.easyink.common.constant.WeConstans@WE_USER_IS_ACTIVATE}
        ${rootEntity.params.dataScope})
        <if test="externalUseridList != null and externalUseridList.size() > 0">
            AND external_userid IN
            <foreach collection="externalUseridList" item="externalUserid" open="(" separator="," close=")">
                #{externalUserid}
            </foreach>
        </if>
        AND corp_id = #{corpId}
        AND status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
        ORDER BY `create_time` DESC LIMIT #{pageNum}, #{pageSize}
    </select>
    <!--获取数据权限下的externalUserid去重后的客户数量-->
    <select id="selectExternalUseridByDataScopeCount" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT external_userid)
        FROM
        we_flower_customer_rel
        WHERE
        user_id IN (
        SELECT
        user_id
        FROM
        we_user wu
        INNER JOIN we_department wd ON wu.corp_id = wd.corp_id
        AND wd.id = wu.main_department
        AND wu.is_activate = ${@com.easyink.common.constant.WeConstans@WE_USER_IS_ACTIVATE}
        ${rootEntity.params.dataScope})
        <if test="externalUseridList != null and externalUseridList.size() > 0">
            AND external_userid IN
            <foreach collection="externalUseridList" item="externalUserid" open="(" separator="," close=")">
                #{externalUserid}
            </foreach>
        </if>
        AND corp_id = #{corpId}
        AND status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
    </select>
    <!--根据(数据权限），开始，结束时间和员工ID，获取单个日期维度-截止时间下的有效客户数-->
    <select id="getCurrNewCustomerCnt" resultType="com.easyink.wecom.domain.vo.statistics.CustomerOverviewVO">
        SELECT DATE_FORMAT(wfcr.create_time, '%Y-%m-%d') AS xTime, COUNT(wfcr.external_userid) AS currentNewCustomerCnt
        FROM we_flower_customer_rel wfcr
        LEFT JOIN we_user wu ON wu.user_id = wfcr.user_id AND wu.corp_id = wfcr.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = wu.corp_id
        WHERE wfcr.corp_id = #{corpId}
        AND wu.is_activate = ${@com.easyink.common.constant.WeConstans@WE_USER_IS_ACTIVATE}
        AND wfcr.`status` IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TO_BE_TRANSFERRED.code}',
        '${@com.easyink.common.enums.CustomerStatusEnum@TRANSFERRING.code}')
        <if test="beginTime != null and beginTime != ''">
            AND wfcr.`create_time` &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND wfcr.`create_time` &lt;= #{endTime}
        </if>
        <if test="userIds != null and userIds.size() > 0">
            AND wfcr.user_id IN
            <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        GROUP BY xTime
    </select>
</mapper>