<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeFlowerCustomerRelMapper">

    <resultMap type="WeFlowerCustomerRel" id="WeFlowerCustomerRelResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="remark" column="remark"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="remarkCorpName" column="remark_corp_name"/>
        <!--        <result property="remarkMobiles"    column="remark_mobiles"    />-->
        <result property="operUserid" column="oper_userid"/>
        <result property="addWay" column="add_way"/>
        <result property="state" column="state"/>
        <result property="customerId" column="customer_id"/>
    </resultMap>

    <sql id="selectWeFlowerCustomerRelVo">
        select id,
               user_id,
               remark,
               description,
               create_time,
               remark_corp_name,
               remark_mobiles,
               oper_userid,
               add_way,
               state,
               customer_id
        from we_flower_customer_rel
    </sql>

    <insert id="insertWeFlowerCustomerRel" parameterType="WeFlowerCustomerRel">
        insert into we_flower_customer_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remarkCorpName != null">remark_corp_name,</if>
            <!--            <if test="remarkMobiles != null">remark_mobiles,</if>-->
            <if test="operUserid != null">oper_userid,</if>
            <if test="addWay != null">add_way,</if>
            <if test="state != null">state,</if>
            <if test="customerId != null">customer_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remarkCorpName != null">#{remarkCorpName},</if>
            <!--            <if test="remarkMobiles != null">#{remarkMobiles},</if>-->
            <if test="operUserid != null">#{operUserid},</if>
            <if test="addWay != null">#{addWay},</if>
            <if test="state != null">#{state},</if>
            <if test="customerId != null">#{customerId},</if>
        </trim>
    </insert>

    <delete id="deleteWeFlowerCustomerRelByIds" parameterType="String">
        delete from we_flower_customer_rel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="myBatchUpdateOrInsert" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO we_flower_customer_rel
            (
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">id,</if>
                <if test="item.userId != null">user_id,</if>
                <if test="item.externalUserid != null">external_userid,</if>
                <if test="item.operUserid != null">oper_userid,</if>
                <if test="item.remark != null">remark,</if>
                <if test="item.description != null">description,</if>
                <if test="item.createTime != null">create_time,</if>
                <if test="item.remarkCorpName != null">remark_corp_name,</if>
                <if test="item.remarkMobiles != null">remark_mobiles,</if>
                <if test="item.qq != null">qq,</if>
                <if test="item.corpId != null">corp_id,</if>
                <if test="item.address != null">address,</if>
                <if test="item.email != null">email,</if>
                <if test="item.addWay != null">add_way,</if>
                <if test="item.state != null">state,</if>
                <if test="item.status != null">status,</if>
            </trim>
            )
            VALUES
            (
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">#{item.id},</if>
                <if test="item.userId != null">#{item.userId},</if>
                <if test="item.externalUserid != null">#{item.externalUserid},</if>
                <if test="item.operUserid != null">#{item.operUserid},</if>
                <if test="item.remark != null">#{item.remark},</if>
                <if test="item.description != null">#{item.description},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.remarkCorpName != null">#{item.remarkCorpName},</if>
                <if test="item.remarkMobiles != null">#{item.remarkMobiles},</if>
                <if test="item.qq != null">#{item.qq},</if>
                <if test="item.corpId != null">#{item.corpId},</if>
                <if test="item.address != null">#{item.address},</if>
                <if test="item.email != null">#{item.email},</if>
                <if test="item.addWay != null">#{item.addWay},</if>
                <if test="item.state != null">#{item.state},</if>
                <if test="item.status != null">#{item.status},</if>
            </trim>
            )ON DUPLICATE KEY UPDATE
            <trim prefixOverrides="" suffixOverrides=",">
                <if test="item.id != null">id=#{item.id},</if>
                <if test="item.userId != null">user_id=#{item.userId},</if>
                <if test="item.externalUserid != null">external_userid=#{item.externalUserid},</if>
                <if test="item.operUserid != null">oper_userid=#{item.operUserid},</if>
                <if test="item.remark != null">remark=#{item.remark},</if>
                <if test="item.description != null">description=#{item.description},</if>
                <if test="item.createTime != null">create_time=#{item.createTime},</if>
                <if test="item.remarkCorpName != null">remark_corp_name=#{item.remarkCorpName},</if>
                <if test="item.remarkMobiles != null">remark_mobiles=#{item.remarkMobiles},</if>
                <if test="item.qq != null">qq=#{item.qq},</if>
                <if test="item.corpId != null">corp_id = #{item.corpId},</if>
                <if test="item.address != null">address=#{item.address},</if>
                <if test="item.email != null">email=#{item.email},</if>
                <if test="item.addWay != null">add_way=#{item.addWay},</if>
                <if test="item.state != null">state=#{item.state},</if>
                <if test="item.status != null">status=#{item.status},</if>
            </trim>
        </foreach>

    </insert>
    <!--    批量插入-->
    <insert id="batchInsert" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        INSERT INTO we_flower_customer_rel
        (id, user_id, external_userid, corp_id, oper_userid, remark, description, remark_corp_name, remark_mobiles,
        add_way, state,wechat_channel,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}, #{item.userId}, #{item.externalUserid}, #{item.corpId},
            #{item.operUserid}, #{item.remark}, #{item.description}, #{item.remarkCorpName},
            #{item.remarkMobiles},
            #{item.addWay}, #{item.state},#{item.wechatChannel},#{item.createTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        remark = VALUES(remark),description = VALUES(description),remark_corp_name = VALUES(remark_corp_name),
        remark_mobiles = VALUES(remark_mobiles),add_way = VALUES(add_way),`state` =
        VALUES(`state`),wechat_channel = VALUES(wechat_channel),create_time = VALUES(create_time)
    </insert>
    <!--    保存/更新-->
    <insert id="saveOrUpdate" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        INSERT INTO we_flower_customer_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="externalUserid != null">
                external_userid,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="operUserid != null">
                oper_userid,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="description != null">
                `description`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remarkCorpName != null">
                remark_corp_name,
            </if>
            <if test="remarkMobiles != null">
                remark_mobiles,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="addWay != null">
                add_way,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="wechatChannel != null">
                wechat_channel,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="externalUserid != null">
                #{externalUserid},
            </if>
            <if test="corpId != null">
                #{corpId},
            </if>
            <if test="operUserid != null">
                #{operUserid},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="remarkCorpName != null">
                #{remarkCorpName},
            </if>
            <if test="remarkMobiles != null">
                #{remarkMobiles},
            </if>
            <if test="qq != null">
                #{qq},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="addWay != null">
                #{addWay},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="deleteTime != null">
                #{deleteTime},
            </if>
            <if test="wechatChannel != null">
                #{wechatChannel},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim prefixOverrides="" suffixOverrides=",">
            <if test="remark != null">remark = VALUES(remark),</if>
            <if test="description != null">`description` =VALUES(`description`),</if>
            <if test="remarkCorpName != null">remark_corp_name = VALUES(remark_corp_name),</if>
            <if test="remarkMobiles != null">remark_mobiles = VALUES(remark_mobiles),</if>
            <if test="qq != null">qq = VALUES(qq),</if>
            <if test="address != null">address = VALUES(address),</if>
            <if test="email != null">email = VALUES(email),</if>
            <if test="addWay != null">add_way =VALUES(add_way),</if>
            <if test="state != null">state =VALUES(state),</if>
            <if test="status != null">`status` = VALUES(`status`),</if>
            <if test="deleteTime != null">delete_time = VALUES(delete_time),</if>
            <if test="wechatChannel != null">wechat_channel = VALUES(wechat_channel),</if>
        </trim>
    </insert>
    <!--    批量更新客户关系的状态-->
    <insert id="batchUpdateStatus">
        INSERT INTO we_flower_customer_rel
        (id, user_id, external_userid, corp_id,status)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},#{item.userId}, #{item.externalUserid}, #{item.corpId},#{item.status}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `status`=VALUES(`status`)
    </insert>

    <!--    转接员工客户关系-->
    <update id="transferRel">
        UPDATE we_flower_customer_rel
        SET id          = #{takeoverRelId},
            user_id     = #{takeoverUserid},
            create_time = now()
        WHERE corp_id = #{corpId}
          AND id = #{handoverRelId}
    </update>

    <!--更新已流失重新添加回来的客户状态-->
    <update id="updateLossExternalUser">
        UPDATE we_flower_customer_rel
        SET status = '${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}'
        WHERE corp_id = #{corpId}
          AND user_id = #{userId}
          AND external_userid = #{external_userid}
    </update>

    <select id="getUserAddCustomerStat" parameterType="com.easyink.wecom.domain.WeFlowerCustomerRel"
            resultType="java.util.Map">
        select
        left(wfcr.create_time,10) as createTime ,
        ifnull(count(*),0) as total
        from
        we_flower_customer_rel wfcr
        <where>
            wfcr.corp_id = #{corpId}
            and wfcr.state = #{state}
            <if test="addWay != null and addWay != ''">and wfcr.add_way = #{addWay}</if>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND wfcr.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND wfcr.create_time &lt;= #{endTime}
            </if>
        </where>
        group by
        left(wfcr.create_time,10)
    </select>

    <!--查询员工当天的客户总数和流失客户数-->
    <select id="getTotalContactAndLossCnt" resultType="com.easyink.wecom.domain.WeUserBehaviorData">
        SELECT
                IFNULL((SELECT COUNT(id)
                    FROM we_flower_customer_rel
                    WHERE
                        corp_id = #{corpId}
                        AND user_id = #{userId}
                        AND status = '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}'
                        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                            AND create_time &gt;= #{beginTime}
                        </if>
                        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                            AND create_time &lt;= #{endTime}
                        </if>
                        ), 0) AS newCustomerLossCnt,
                IFNULL((SELECT COUNT(id)
                    FROM we_flower_customer_rel
                    WHERE
                        corp_id = #{corpId}
                        AND user_id = #{userId}
                        AND status = '${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}'
                        AND create_time &lt;= #{endTime}
                        ), 0) AS contactTotalCnt
    </select>
<!--    根据unionId 查询客户-->
    <select id="getByUnionIds" resultType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        SELECT
        wc.`external_userid`,
        wc.`name` AS userName,
        wc.`corp_id`,
        wc.`unionid` as unionId,
        wfcr.id ,
        wfcr.`user_id`,
        wfcr.`status`
        FROM
        we_customer wc
        LEFT JOIN we_flower_customer_rel wfcr ON wc.corp_id = wfcr.corp_id
        AND wc.external_userid = wfcr.external_userid
        WHERE
        wc.corp_id = #{corpId}
        AND wc.unionid IN
        <if test="unionIds != null and unionIds.size() >0">
            <foreach collection="unionIds" item="unionId" separator="," open="(" close=")" >
                #{unionId}
            </foreach>
        </if>
        AND wfcr.status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}', '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}')
    </select>
    <!--    根据手机号 查询客户-->
    <select id="getByMobiles" resultType="com.easyink.wecom.domain.WeFlowerCustomerRel">
        SELECT
        wfcr.external_userid,
        wfcr.user_id,
        wfcr.corp_id,
        wfcr.remark_mobiles,
        wfcr. STATUS,
        wfcr.id
        FROM
        we_flower_customer_rel wfcr
        WHERE
        wfcr.corp_id = #{corpId}
        AND wfcr.remark_mobiles IN
        <if test="mobiles != null and mobiles.size()>0" >
            <foreach collection="mobiles" item="mobile" separator="," open="(" close=")" >
                #{mobile}
            </foreach>
        </if>
        AND wfcr.status IN ('${@com.easyink.common.enums.CustomerStatusEnum@NORMAL.code}', '${@com.easyink.common.enums.CustomerStatusEnum@DRAIN.code}')
    </select>
</mapper>