<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeGroupMemberMapper">

    <select id="selectWeGroupMemberListByChatId" resultType="com.easyink.wecom.domain.dto.WeGroupMemberDTO">
        SELECT
        wgm.chat_id,
        wgm.join_time,
        wgm.type,
        wgm.join_scene,
        IFNULL(wu.head_image_url,wc.avatar) as member_avatar,
        IFNULL(wu.user_name,wc.name) as member_name
        FROM
        we_group_member wgm
        left join we_user wu on wu.user_id = wgm.user_id and wgm.type =
        ${@com.easyink.common.constant.GroupConstants@ID_TYPE_USER} and wu.corp_id = wgm.corp_id
        left join we_customer wc on wc.external_userid = wgm.user_id and wgm.type =
        ${@com.easyink.common.constant.GroupConstants@ID_TYPE_CUSTOMER} and wc.corp_id = wgm.corp_id
        <where>
            <if test="chatId != null ">and wgm.chat_id = #{chatId}</if>
        </where>
    </select>


    <!--    批量更新、插入-->
    <insert id="batchInsert">
        INSERT INTO we_group_member
        (
        id,user_id, chat_id, corp_id, union_id, join_time, join_scene, type, `name`,invitor
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id}, #{item.userId}, #{item.chatId}, #{item.corpId}, #{item.unionId}, #{item.joinTime},
            #{item.joinScene}, #{item.joinType}, #{item.memberName},#{item.invitor}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `name` = VALUES(`name`),union_id = VALUES(union_id)
    </insert>


    <select id="countWeGroupMemberListByChatIdAndJoinSceneAndType" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
        FROM
        we_group_member wgm
        WHERE
        wgm.type = #{type}
        AND wgm.join_scene = #{joinScene}
        AND wgm.chat_id IN
        <foreach item="item" index="index" collection="chatIdList" open="(" separator="," close=")">
                #{item}
              </foreach>
    </select>


    <select id="selectWeGroupMemberCount" resultType="com.easyink.wecom.domain.vo.FindWeGroupMemberCountVO">
        SELECT
            SUM(if(`type` = ${@com.easyink.common.constant.WeConstans@WE_GROUP_MEMBER_TYPE_STAFF},1,0)) staffCount,
            SUM(if(`type` = ${@com.easyink.common.constant.WeConstans@WE_GROUP_MEMBER_TYPE_CUSTOMER},1,0)) customerCount
        FROM
            we_group_member
        WHERE
            `corp_id` = #{corpId}
            AND `chat_id` = #{chatId}
            <if test="memberName!=null and memberName != ''">
                AND `name` LIKE concat('%', #{memberName}, '%')
            </if>
            <if test="startTime!=null and startTime != ''">
                AND `join_time` &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime != ''">
                AND `join_time` &lt;= #{endTime}
            </if>
            <if test="joinScene != null and joinScene !=0">
                AND `join_scene` = #{joinScene}
            </if>
    </select>

    <select id="selectWeGroupMember" resultType="com.easyink.wecom.domain.WeGroupMember">
        SELECT
        wgm.id,
        wgm.user_id,
        wgm.chat_id,
        wgm.corp_id,
        wgm.name AS memberName,
        wgm.union_id,
        wgm.join_time,
        wgm.join_scene,
        wgm.type AS joinType,
        wgm.invitor,
        (SELECT wu.user_name FROM we_user wu WHERE wu.corp_id = wgm.corp_id AND wu.user_id = wgm.invitor) invitorName
        FROM
        we_group_member wgm
        LEFT JOIN we_user wu ON wu.user_id = wgm.invitor AND wu.`corp_id` = wgm.`corp_id`
        WHERE
        wgm.`corp_id` = #{corpId}
        AND wgm.`chat_id` = #{chatId}
        <if test="memberName!=null and memberName != ''">
            AND wgm.`name` LIKE concat('%', #{memberName}, '%')
        </if>
        <if test="startTime!=null and startTime != ''">
            AND wgm.`join_time` &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime != ''">
            AND wgm.`join_time` &lt;= #{endTime}
        </if>
        <if test="joinScene != null and joinScene !=0">
            AND wgm.`join_scene` = #{joinScene}
        </if>
    </select>
    <!--根据群聊id列表查询群成员信息-->
    <select id="selectWeGroupMemberListByChatIdList"
            resultType="com.easyink.wecom.domain.dto.WeGroupMemberDTO">
        SELECT
        wgm.chat_id,
        wgm.join_time,
        wgm.type,
        wgm.join_scene,
        IFNULL(wu.head_image_url,wc.avatar) as member_avatar,
        IFNULL(wu.user_name,wc.name) as member_name
        FROM
        we_group_member wgm
        left join we_user wu on wu.user_id = wgm.user_id and wgm.type =
        ${@com.easyink.common.constant.GroupConstants@ID_TYPE_USER} and wu.corp_id = wgm.corp_id
        left join we_customer wc on wc.external_userid = wgm.user_id and wgm.type =
        ${@com.easyink.common.constant.GroupConstants@ID_TYPE_CUSTOMER} and wc.corp_id = wgm.corp_id
        <where>
            and wgm.chat_id IN
            <if test="chatIdList != null and chatIdList.size() > 0">
                <foreach collection="chatIdList" open="(" close=")" separator="," item="chatId">
                    #{chatId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>

