<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyink.wecom.mapper.WeOperationsCenterSopTaskMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.easyink.wecom.domain.WeOperationsCenterSopTaskEntity" id="weOperationsCenterSopTaskMap">
         <result property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="mediaType" column="media_type"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="isDefined" column="is_defined"/>
    </resultMap>

    <sql id="allColumns">
      id
     ,corp_id
     ,media_type
     ,content
     ,title
     ,url
     ,cover_url
     ,is_defined
    </sql>

</mapper>