<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WePresTagGroupTaskStatMapper">


    <delete id="removeStatByTaskId" parameterType="Long">
        delete from we_pres_tag_group_stat where task_id = #{taskId}
    </delete>

    <select id="getAllExternalIdByTaskId" parameterType="Long" resultType="String">
        SELECT DISTINCT
        wc.external_userid
        FROM
        we_customer wc
        LEFT JOIN we_group_member wgm ON wgm.user_id = wc.external_userid
        LEFT JOIN we_group wg ON wg.chat_id = wgm.chat_id
        LEFT JOIN we_group_code_actual wgca ON wgca.chat_id = wg.chat_id
        LEFT JOIN we_pres_tag_group wptg ON wptg.group_code_id = wgca.group_code_id
        WHERE
        wptg.task_id = #{taskId}
    </select>

    <select id="selectStatInfoByTaskId" resultType="com.easyink.wecom.domain.vo.WePresTagGroupTaskStatVO">
        SELECT
        wc.`name` as customerName,
        wfcr.`remark`,
        wptgs.user_id,
        wptgs.is_sent as `status`,
            wptgs.external_userid,
            CASE WHEN wgm.user_id IS NULL THEN 0 ELSE 1 END is_in_group
        FROM we_pres_tag_group_stat wptgs
        LEFT JOIN we_flower_customer_rel wfcr ON wfcr.user_id = wptgs.user_id AND wfcr.external_userid =
        wptgs.external_userid AND wfcr.status = 0
            LEFT JOIN we_pres_tag_group wptg ON wptgs.task_id = wptg.task_id
            LEFT JOIN we_group_code_actual wpca ON wptg.group_code_id = wpca.group_code_id
            LEFT JOIN we_group_member wgm ON wpca.chat_id = wgm.chat_id AND wptgs.external_userid = wgm.user_id
            LEFT JOIN we_customer wc ON wptgs.external_userid = wc.external_userid
        WHERE wptgs.task_id = #{taskId} and wc.corp_id = #{corpId}
        <if test="customerName != null and customerName != ''">
            AND (
            wptgs.customer_name LIKE CONCAT('%',#{customerName},'%') OR wfcr.`remark` LIKE
            CONCAT('%',#{customerName},'%')
            )
        </if>
        <if test="isInGroup != null and isInGroup == 1">AND wgm.user_id IS NOT NULL</if>
        <if test="isInGroup != null and isInGroup == 0">AND wgm.user_id IS NULL</if>
        <if test="isSent != null">AND wptgs.is_sent = #{isSent}</if>
    </select>


    <insert id="saveByFlowerCustomer">
        INSERT INTO we_pres_tag_group_stat
        (
        task_id,
        external_userid,
        customer_name,
        is_sent,
        is_in_group
        )
        SELECT
        #{taskId},
        external_userid,
        remark,
        0,
        0
        FROM
        we_flower_customer_rel
        WHERE
        user_id IN
        <foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </insert>
    <insert id="insertBatch">
        INSERT INTO we_pres_tag_group_stat
        (
        task_id,
        external_userid,
        user_id,
        customer_name,
        is_sent,
        is_in_group
        )
        VALUES
        <foreach item="stat" index="index" collection="list" separator=",">
            (
            #{stat.taskId},
            #{stat.externalUserid},
            #{stat.userId},
            #{stat.customerName},
            #{stat.isSent},
            #{stat.isInGroup}
            )
        </foreach>
    </insert>

</mapper>