<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyink.wecom.mapper.WeResignedCustomerTransferRecordMapper">
    <!--    更新分配客户状态-->
    <update id="updateRecord">
        UPDATE we_resigned_customer_transfer_record
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        WHERE
        record_id = #{recordId} AND external_userid = #{externalUserid}

    </update>

    <insert id="batchUpdateRecordStatus">
        INSERT INTO we_resigned_customer_transfer_record
        (`record_id`, `external_userid`, `status`,`takeover_time`,`remark`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.recordId},#{item.externalUserid},#{item.status},IFNULL(#{item.takeoverTime},'0000-00-00 00:00:00'),#{item.remark}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `status` = VALUES(`status`),`remark` = VALUES(`remark`),`takeover_time` = VALUES(`takeover_time`)
    </insert>

    <select id="getByHandoverUserAndExternalUser"
            resultType="com.easyink.wecom.domain.entity.transfer.WeResignedCustomerTransferRecord">
        SELECT wrctr.record_id, wrctr.external_userid, wrctr.status, wrctr.takeover_time, wrctr.remark
        FROM we_resigned_customer_transfer_record wrctr
                 LEFT JOIN we_resigned_transfer_record wrtr ON wrctr.record_id = wrtr.id
        WHERE wrtr.corp_id = #{corpId}
          AND wrctr.external_userid = #{externalUserid}
          AND wrtr.handover_userid = #{handoverUserid}
        LIMIT 1
    </select>
    <!--    获取还存在接替中的 分配记录列表-->
    <select id="getToBeTransferList"
            resultType="com.easyink.wecom.domain.entity.transfer.WeResignedCustomerTransferRecord">
        SELECT wrctr.record_id
             , wrctr.external_userid
             , wrctr.status
             , wrctr.takeover_time
             , wrctr.remark
             , wrtr.corp_id
             , wrtr.handover_userid
             , wrtr.takeover_userid
        FROM we_resigned_customer_transfer_record wrctr
                 LEFT JOIN we_resigned_transfer_record wrtr ON wrctr.record_id = wrtr.id
        WHERE wrctr.status = ${@com.easyink.common.enums.CustomerTransferStatusEnum@WAIT.type}
        GROUP BY wrtr.corp_id, wrtr.handover_userid, wrtr.takeover_userid
    </select>
    <select id="listOfCustomerRecord"
            resultType="com.easyink.wecom.domain.vo.transfer.GetResignedTransferCustomerDetailVO">
        SELECT wrctr.record_id,
        wrctr.external_userid,
        wrctr.status,
        wrctr.takeover_time,
        wrctr.remark as failReason,
        wrtr.transfer_time as allocateTime,
        wrtr.handover_userid,
        wrtr.handover_department_name,
        wrtr.handover_username,
        wrtr.takeover_userid,
        wrtr.takeover_department_name as mainDepartmentName,
        wrtr.takeover_username as takeUserName,
        wrtr.dimission_time,
        wc.name as customerName
        FROM we_resigned_customer_transfer_record wrctr
        LEFT JOIN we_resigned_transfer_record wrtr on wrctr.record_id = wrtr.id
        LEFT JOIN we_customer wc ON wc.corp_id = wrtr.corp_id AND wc.external_userid = wrctr.external_userid
        WHERE wrctr.record_id = #{recordId}
        <if test="beginTime != null">
            AND wrtr.dimission_time >= #{beginTime}
        </if>
        <if test="endTime != null">
            AND wrtr.dimission_time &lt;= #{endTime}
        </if>
    </select>
</mapper>
