<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeTagGroupMapper">

    <resultMap type="com.easyink.wecom.domain.WeTagGroup" id="WeTagGroupResult">
        <result property="groupName" column="group_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="groupId" column="group_id"/>
        <collection property="weTags" column="weTags.id" ofType="com.easyink.wecom.domain.WeTag">
            <id property="tagId" column="tag_id"/>
            <result property="seqId" column="seq_id"/>
            <result property="groupId" column="tag_group_id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <resultMap type="com.easyink.wecom.domain.WeTagGroup" id="WeTagGroupMap">
        <result property="groupName" column="group_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="groupId" column="group_id"/>
        <collection property="weTags" column="group_id" ofType="com.easyink.wecom.domain.WeTag" select="listOfGroupId">
            <id property="tagId" column="tag_id"/>
            <result property="seqId" column="seq_id"/>
            <result property="groupId" column="tag_group_id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <delete id="deleteWeLossTag">
        DELETE FROM we_customer_loss_tag WHERE corp_id = #{corpId}
    </delete>

    <select id="listOfGroupId" resultType="com.easyink.wecom.domain.WeTag">
        select
        wt.tag_id ,
        wt.seq_id,
        wt.group_id,
        wt.name,
        wt.status
        from we_tag wt
        where wt.group_id = #{group_id}
        and wt.status=0
    </select>

    <sql id="selectWeTagGroupVo">
        select group_name, create_time
        from we_tag_group
    </sql>

    <select id="selectWeTagGroupList" parameterType="com.easyink.wecom.domain.WeTagGroup" resultMap="WeTagGroupMap">
        SELECT
        wtg.*,
        wtg.create_by,
        wtg.group_id as tag_group_id
        FROM
        we_tag_group wtg
        where
        wtg.corp_id = #{corpId} AND
        wtg.status=${@com.easyink.common.constant.Constants@NORMAL_CODE}
        <if test="groupName != null  and groupName != ''">
            and wtg.group_name like concat('%', #{groupName}, '%')
        </if>
        ORDER BY wtg.create_time DESC
    </select>

    <select id="selectWetagGroupListBySearchName" resultMap="WeTagGroupMap">
        select wtg.*
        FROM we_tag_group wtg
                 LEFT JOIN we_tag wt ON wtg.group_id = wt.group_id AND
                                        wt.status = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
        WHERE wtg.corp_id = #{corpId} AND wtg.status = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
          AND (wt.name like concat('%', #{searchName}, '%')
            OR wtg.group_name like concat('%', #{searchName}, '%'))
        group by wtg.group_name
        ORDER BY wtg.create_time DESC
    </select>


    <update id="deleteWeTagGroupByIds" parameterType="String">
        update we_tag_group set status= ${@com.easyink.common.constant.Constants@DELETE_CODE}
        where corp_id = #{corpId} and group_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--    批量插入标签组-->
    <insert id="batchInsert">
        INSERT INTO we_tag_group
        (group_id, group_name, create_time, corp_id)
        VALUES
        <foreach collection="list" index="index" separator="," item="item" >
            (
             #{item.groupId},#{item.groupName},
            #{item.createTime},#{item.corpId}
            )
        </foreach>
         ON DUPLICATE KEY UPDATE
        group_name = VALUES(group_name),`status` = VALUES(`status`)
    </insert>

    <insert id="insertWeLossTag">
        INSERT INTO we_customer_loss_tag VALUES
        <foreach collection="lossTagIdList" item="lossTagId" separator="," >
            (null,#{lossTagId},#{corpId})
        </foreach>
    </insert>


    <select id="findCustomerTagByFlowerCustomerRelId" resultMap="WeTagGroupResult">
        SELECT wt.tag_id,
               wt.`name`,
               wtg.group_name,
               wtg.group_id
        FROM we_flower_customer_tag_rel wfctr
                 INNER JOIN we_tag wt ON wfctr.tag_id = wt.tag_id
                 INNER JOIN we_tag_group wtg ON wt.group_id = wtg.group_id
        WHERE  wt.`status` = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
          and wtg.`status` = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
          and wfctr.flower_customer_rel_id = #{flowerCustomerRelId}
    </select>
    <!-- 查询所有标签组信息 -->
    <select id="findWeTagGroupList" resultType="com.easyink.wecom.domain.vo.statistics.WeTagGroupListVO">
        SELECT
            wtg.group_id as tagGroupId,
            wtg.group_name as groupTagName
        FROM
            we_tag_group wtg
        where
            wtg.corp_id = #{corpId} AND
            wtg.status=${@com.easyink.common.constant.Constants@NORMAL_CODE}
        ORDER BY wtg.create_time DESC
    </select>
    <!--查询符合条件的标签组列表（数据统计）-->
    <select id="selectWeTagGroupListByStatistic" resultType="com.easyink.wecom.domain.WeTagGroup">
        SELECT
        group_id AS groupId,
        group_name AS groupName,
        create_time AS createTime
        FROM
        we_tag_group
        WHERE
        corp_id = #{corpId} AND
        status=${@com.easyink.common.constant.Constants@NORMAL_CODE}
        <if test="list != null and list.size() > 0">
            AND group_id IN
            <foreach collection="list" item="groupId" open="(" separator="," close=")">
                #{groupId}
            </foreach>
        </if>
        ORDER BY create_time
    </select>

</mapper>