<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeTagMapper">

    <resultMap type="WeTag" id="WeTagResult">
        <result property="id" column="id"/>
        <result property="groupId" column="group_id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectWeTagVo">
        select id, group_id, name, create_time from we_tag
    </sql>

    <select id="selectWeTagList" parameterType="WeTag" resultMap="WeTagResult">
        <include refid="selectWeTagVo"/>
        <where>
            <if test="groupId != null ">and group_id = #{groupId}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectWeTagById" parameterType="Long" resultMap="WeTagResult">
        <include refid="selectWeTagVo"/>
        where id = #{id} and status=0
    </select>

    <!-- 获取所有的标签组和标签组下的标签信息 -->
    <select id="selectTagStatistics" resultType="com.easyink.wecom.domain.vo.statistics.WeTagCustomerStatisticsVO">
        SELECT
            wt.tag_id,
            wt.`name` AS tagName,
            wtg.group_id AS tagGroupId,
            wtg.group_name AS groupTagName
            FROM
            we_tag wt INNER JOIN
            we_tag_group wtg ON wt.group_id = wtg.group_id AND wt.`status` = wtg.`status`
        WHERE
            wtg.corp_id = #{dto.corpId}
            AND wtg.`status` = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
        <if test="dto.tagGroupIds != null and dto.tagGroupIds.size > 0">
            AND wtg.group_id IN
            <foreach collection="dto.tagGroupIds" item="tagGroupId" open="(" separator="," close=")">
                #{tagGroupId}
            </foreach>
        </if>
        <if test="tagIdList != null and tagIdList.size > 0">
            AND wt.tag_id IN
            <foreach collection="tagIdList" item="tagId" open="(" separator="," close=")">
                #{tagId}
            </foreach>
        </if>
    </select>

    <!-- 获取所有标签和客户信息 -->
    <select id="getWeTagList" resultType="com.easyink.wecom.domain.WeTag">
        SELECT
            wfctr.`tag_id`,
            wt.`name`,
            wt.create_time
        FROM
            we_flower_customer_tag_rel wfctr
                INNER JOIN we_tag wt ON wfctr.tag_id = wt.tag_id
                INNER JOIN we_tag_group wtg ON wt.group_id = wtg.group_id
                AND wt.`status` = wtg.`status`
        WHERE
            wtg.corp_id = #{corpId}
            AND wt.`status` = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
        <if test="flowerCustomerRelIdList != null and flowerCustomerRelIdList.size() > 0">
            AND wfctr.flower_customer_rel_id IN
            <foreach collection="flowerCustomerRelIdList" item="flowerCustomerRelId" open="(" separator="," close=")">
                #{flowerCustomerRelId}
            </foreach>
        </if>
        <if test="tagGroupIds != null and tagGroupIds.size > 0">
            AND wt.group_id IN
            <foreach collection="tagGroupIds" item="tagGroupId" open="(" separator="," close=")">
                #{tagGroupId}
            </foreach>
        </if>
        GROUP BY
            external_userid, tag_id
    </select>

    <!-- 获取所有标签下的客户数量(去重) -->
    <select id="getCustomerTagCnt" resultType="com.easyink.wecom.domain.vo.statistics.WeTagCustomerStatisticsVO">
        SELECT
        wfctr.tag_id,
        wfctr.external_userid AS externalUserId
        FROM
        we_flower_customer_tag_rel wfctr
        INNER JOIN we_tag wt ON wfctr.tag_id = wt.tag_id
        INNER JOIN we_tag_group wtg ON wt.group_id = wtg.group_id
        AND wt.`status` = wtg.`status`
        WHERE
        wtg.corp_id = #{corpId}
        AND wt.`status` = ${@com.easyink.common.constant.Constants@NORMAL_CODE}
        <if test="flowerCustomerRelIdList != null and flowerCustomerRelIdList.size() > 0">
            AND wfctr.flower_customer_rel_id IN
            <foreach collection="flowerCustomerRelIdList" item="flowerCustomerRelId" open="(" separator="," close=")">
                #{flowerCustomerRelId}
            </foreach>
        </if>
        <if test="tagGroupIds != null and tagGroupIds.size > 0">
            AND wt.group_id IN
            <foreach collection="tagGroupIds" item="tagGroupId" open="(" separator="," close=")">
                #{tagGroupId}
            </foreach>
        </if>
        GROUP BY
        external_userid, tag_id
    </select>

    <update id="updateWeTag" parameterType="WeTag">
        update we_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeTagByGroupId" parameterType="String">
        update we_tag set status=${@com.easyink.common.constant.Constants@DELETE_CODE} where group_id in
        <foreach item="groupId" collection="array" open="(" separator="," close=")">
            #{groupId}
        </foreach>
    </delete>

    <delete id="deleteWeTagById">
        update we_tag set status=${@com.easyink.common.constant.Constants@DELETE_CODE} where corp_id = #{corpId} and tag_id = #{id}
    </delete>


    <insert id="batchInsert">
        INSERT INTO we_tag (tag_id,group_id,corp_id,`name`,create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.tagId},#{item.groupId},#{item.corpId},#{item.name}
                ,#{item.createTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `name` = values(`name`)
    </insert>


</mapper>