<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeUserRoleMapper">

    <!--    批量插入用户-角色关系实体-->
    <insert id="batchInsertUserRole">
        INSERT INTO `we_user_role`
        (corp_id,user_id, role_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.corpId},#{item.userId},#{item.roleId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        corp_id = VALUES(corp_id)
        ,user_id = VALUES(user_id)
    </insert>
    <!--    批量插入角色-->
    <insert id="batchInsertRole" >
        INSERT INTO sys_role
        (role_id,corp_id, role_name, role_key, role_sort, data_scope, status, del_flag, create_by, create_time, update_by, update_time, remark)
        VALUES
        <foreach collection="list" separator="," item="item">
            (
            #{item.roleId},#{item.corpId},#{item.roleName},#{item.roleKey},#{item.roleSort},#{item.dataScope},#{item.status},
            #{item.delFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},#{item.remark}
            )
        </foreach>
    </insert>
    <!--    插入角色-->
    <insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO sys_role
        (role_id,corp_id, role_name, role_key, role_sort, data_scope, status, del_flag, create_by, create_time, update_by, update_time, remark,role_type)
        VALUES
        (
        #{roleId},#{corpId},#{roleName},#{roleKey},#{roleSort},#{dataScope},#{status},
        #{delFlag},#{createBy},#{createTime},#{updateBy},#{updateTime},#{remark},#{roleType}
        )
    </insert>
    <insert id="insertUserRole">
        INSERT INTO `we_user_role`
        (corp_id,user_id, role_id)
        VALUES
        (#{corpId},#{userId},#{roleId})
        ON DUPLICATE KEY UPDATE
        corp_id = VALUES(corp_id)
        ,user_id = VALUES(user_id)
        ,role_id = VALUES(role_id)
    </insert>
    <!--    批量插入角色菜单关系-->
    <insert id="insertRoleMenu">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach item="item" index="index" collection="array" separator=",">
            (#{roleId},#{item})
        </foreach>
        ON DUPLICATE KEY UPDATE
        role_id = VALUES(role_id)
    </insert>
    <!--    根据corpId和roleKey查询角色-->
    <select id="selectRoleByCorpIdAndRoleKey" resultType="com.easyink.common.core.domain.entity.SysRole">
        SELECT role_id,
               corp_id,
               role_name,
               role_key,
               role_sort,
               data_scope,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        FROM sys_role
        WHERE corp_id = #{corpId}
          AND role_key = #{roleKey}
          AND status = '${@com.easyink.common.constant.Constants@NORMAL_CODE}'
          AND del_flag = '${@com.easyink.common.constant.Constants@NORMAL_CODE}'
        LIMIT 1
    </select>

    <select id="selectByRoleId" resultType="com.easyink.common.core.domain.entity.SysRole">
        SELECT role_id,
               corp_id,
               role_name,
               role_key,
               role_sort,
               data_scope,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        FROM sys_role
        WHERE corp_id = #{corpId}
          AND role_id = #{roleId}
          AND status = '${@com.easyink.common.constant.Constants@NORMAL_CODE}'
          AND del_flag = '${@com.easyink.common.constant.Constants@NORMAL_CODE}'
        LIMIT 1
    </select>


    <insert id="batchInsertOrUpdateUserRole">
        INSERT INTO `we_user_role`
        (corp_id,user_id, role_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.corpId},#{item.userId},#{item.roleId})
        </foreach>
        ON DUPLICATE KEY UPDATE
        corp_id = VALUES(corp_id)
        ,user_id = VALUES(user_id)
        ,role_id = VALUES(role_id)
    </insert>
</mapper>