<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.autotag.WeAutoTagCustomerSceneMapper">

    <resultMap type="com.easyink.wecom.domain.entity.autotag.WeAutoTagCustomerScene" id="WeAutoTagCustomerSceneMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ruleId" column="rule_id" jdbcType="INTEGER"/>
        <result property="loopPoint" column="loop_point" jdbcType="INTEGER"/>
        <result property="loopBeginTime" column="loop_begin_time" jdbcType="VARCHAR"/>
        <result property="loopEndTime" column="loop_end_time" jdbcType="VARCHAR"/>
        <result property="sceneType" column="scene_type" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap type="com.easyink.wecom.domain.vo.autotag.customer.CustomerSceneVO" id="customerTagMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="loopPoint" column="loop_point" jdbcType="INTEGER"/>
        <result property="loopBeginTime" column="loop_begin_time" jdbcType="VARCHAR"/>
        <result property="loopEndTime" column="loop_end_time" jdbcType="VARCHAR"/>
        <result property="sceneType" column="scene_type" jdbcType="INTEGER"/>
        <collection property="tagList" ofType="com.easyink.wecom.domain.vo.autotag.TagInfoVO"
                    column="{customerSceneId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagCustomerSceneTagRelMapper.listTagListByCustomerSceneId">
        </collection>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_customer_scene(rule_id, loop_point, loop_begin_time, loop_end_time,
        scene_type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.loopPoint}, #{entity.loopBeginTime}, #{entity.loopEndTime}, #{entity.sceneType})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_customer_scene(rule_id, loop_point, loop_begin_time, loop_end_time,
        scene_type)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.ruleId}, #{entity.loopPoint}, #{entity.loopBeginTime}, #{entity.loopEndTime}, #{entity.sceneType})
        </foreach>
        on duplicate key update
        rule_id = values(rule_id) , loop_point = values(loop_point) , loop_begin_time = values(loop_begin_time) ,
        loop_end_time = values(loop_end_time) , scene_type = values(scene_type)
    </insert>
    <select id="listCustomerSceneListByRuleId"
            resultMap="customerTagMap">
        SELECT cs.id,
               cs.corp_id,
               cs.rule_id,
               cs.loop_point,
               cs.loop_begin_time,
               cs.loop_end_time,
               cs.scene_type
        FROM we_auto_tag_customer_scene cs
        WHERE cs.rule_id = #{ruleId} AND cs.corp_id = #{corpId}
    </select>
</mapper>

