<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.autotag.WeAutoTagRuleMapper">

    <resultMap type="com.easyink.wecom.domain.entity.autotag.WeAutoTagRule" id="WeAutoTagRuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="corpId" column="corp_id" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
        <result property="labelType" column="label_type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="keywordListMap" type="com.easyink.wecom.domain.vo.autotag.TagRuleListVO">
        <result property="id" column="id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="mainDepartmentName" column="main_department_name"/>
        <result property="createTime" column="create_time"/>
        <result property="corpId" column="corp_id"/>
        <collection property="tagList" ofType="com.easyink.wecom.domain.vo.autotag.TagInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagKeywordTagRelMapper.listTagListByRuleId">
        </collection>
    </resultMap>
    <resultMap id="groupListMap" type="com.easyink.wecom.domain.vo.autotag.TagRuleListVO">
        <result property="id" column="id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="mainDepartmentName" column="main_department_name"/>
        <result property="createTime" column="create_time"/>
        <result property="corpId" column="corp_id"/>
        <collection property="tagList" ofType="com.easyink.wecom.domain.vo.autotag.TagInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagGroupSceneTagRelMapper.listTagListByRuleId">
        </collection>
    </resultMap>
    <resultMap id="customerListMap" type="com.easyink.wecom.domain.vo.autotag.TagRuleListVO">
        <result property="id" column="id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="mainDepartmentName" column="main_department_name"/>
        <result property="createTime" column="create_time"/>
        <result property="corpId" column="corp_id"/>
        <collection property="tagList" ofType="com.easyink.wecom.domain.vo.autotag.TagInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagCustomerSceneTagRelMapper.listTagListByRuleId">
        </collection>
    </resultMap>

    <resultMap id="keywordInfoMap" type="com.easyink.wecom.domain.vo.autotag.keyword.TagRuleKeywordInfoVO">
        <result property="ruleName" column="rule_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <collection property="userList" ofType="com.easyink.wecom.domain.vo.autotag.TagRuleUserInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagUserRelMapper.listUserListByRuleId">
        </collection>

        <collection property="departmentList" ofType="com.easyink.wecom.domain.vo.autotag.TagRuleDepartmentInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagUserRelMapper.listDepartmentListByRuleId">
        </collection>

        <collection property="tagList" ofType="com.easyink.wecom.domain.vo.autotag.TagInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagKeywordTagRelMapper.listTagListByRuleId">
        </collection>
        <collection property="fuzzyMatchKeywordList" ofType="string"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagKeywordMapper.listFuzzyKeywordListByRuleId">
        </collection>
        <collection property="exactMatchKeywordList" ofType="string"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagKeywordMapper.listExactKeywordListByRuleId">
        </collection>
    </resultMap>

    <resultMap id="groupInfoMap" type="com.easyink.wecom.domain.vo.autotag.group.TagRuleGroupInfoVO">
        <result property="ruleName" column="rule_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <collection property="groupSceneList" ofType="com.easyink.wecom.domain.vo.autotag.group.GroupSceneVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagGroupSceneMapper.listGroupSceneListByRuleId">
        </collection>
    </resultMap>

    <resultMap id="customerInfoMap" type="com.easyink.wecom.domain.vo.autotag.customer.TagRuleCustomerInfoVO">
        <result property="ruleName" column="rule_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="effectBeginTime" column="effect_begin_time"/>
        <result property="effectEndTime" column="effect_end_time"/>
        <collection property="userList" ofType="com.easyink.wecom.domain.vo.autotag.TagRuleUserInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagUserRelMapper.listUserListByRuleId">
        </collection>

        <collection property="departmentList" ofType="com.easyink.wecom.domain.vo.autotag.TagRuleDepartmentInfoVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagUserRelMapper.listDepartmentListByRuleId">
        </collection>

        <collection property="customerSceneList" ofType="com.easyink.wecom.domain.vo.autotag.group.GroupSceneVO"
                    column="{ruleId=id,corpId=corp_id}"
                    select="com.easyink.wecom.mapper.autotag.WeAutoTagCustomerSceneMapper.listCustomerSceneListByRuleId">
        </collection>
    </resultMap>


    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule(corp_id, rule_name, label_type, status, create_time, create_by)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.corpId}, #{entity.ruleName}, #{entity.labelType}, #{entity.status}, #{entity.createTime},
            #{entity.createBy})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into we_auto_tag_rule(corp_id, rule_name, label_type, status, create_time, create_by)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.corpId}, #{entity.ruleName}, #{entity.labelType}, #{entity.status}, #{entity.createTime},
            #{entity.createBy})
        </foreach>
        on duplicate key update
        corp_id = values(corp_id) , rule_name = values(rule_name) , label_type = values(label_type) , status =
        values(status) , create_time = values(create_time) , create_by = values(create_by)
    </insert>
    <select id="listKeyword" resultMap="keywordListMap">
        SELECT r.id,
        r.rule_name,
        r.`status`,
        IFNULL(wu.user_name, 'admin') AS create_by,
        IFNULL(wd.`name`, '') AS main_department_name,
        r.create_time,
        r.corp_id
        FROM we_auto_tag_rule r
        LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = r.corp_id
        WHERE r.corp_id = #{corpId}
        AND r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@KEYWORD.type}
        ${params.dataScope}
        <if test="ruleName != null and ruleName != ''">
            <bind name="likeRuleName" value="'%' + ruleName + '%'"/>
            AND r.rule_name LIKE #{likeRuleName}
        </if>
        <if test="createBy != null and createBy != ''">
            <bind name="likeCreateBy" value="'%' + createBy +'%'"/>
            <choose>
                <when test="createBy eq 'admin'">
                    AND r.create_by = #{createBy}
                </when>
                <otherwise>
                    AND wu.user_name LIKE #{likeCreateBy}
                </otherwise>
            </choose>
        </if>
        <if test="status != null">
            AND r.status = #{status}
        </if>
        ORDER BY r.create_time DESC
    </select>

    <select id="listGroup" resultMap="groupListMap">
        SELECT r.id,
        r.rule_name,
        r.`status`,
        IFNULL(wu.user_name, 'admin') AS create_by,
        IFNULL(wd.`name`, '') AS main_department_name,
        r.create_time,
        r.corp_id
        FROM we_auto_tag_rule r
        LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = r.corp_id
        WHERE r.corp_id = #{corpId}
        AND r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@GROUP.type}
        ${params.dataScope}
        <if test="ruleName != null and ruleName != ''">
            <bind name="likeRuleName" value="'%' + ruleName + '%'"/>
            AND r.rule_name LIKE #{likeRuleName}
        </if>
        <if test="createBy != null and createBy != ''">
            <bind name="likeCreateBy" value="'%' + createBy +'%'"/>
            <choose>
                <when test="createBy eq 'admin'">
                    AND r.create_by = #{createBy}
                </when>
                <otherwise>
                    AND wu.user_name LIKE #{likeCreateBy}
                </otherwise>
            </choose>
        </if>
        <if test="status != null">
            AND r.status = #{status}
        </if>
        ORDER BY r.create_time DESC
    </select>

    <select id="listCustomer" resultMap="customerListMap">
        SELECT r.id,
        r.rule_name,
        r.`status`,
        IFNULL(wu.user_name, 'admin') AS create_by,
        IFNULL(wd.`name`, '') AS main_department_name,
        r.create_time,
        r.corp_id
        FROM we_auto_tag_rule r
        LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
        LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = r.corp_id
        WHERE r.corp_id = #{corpId}
        AND r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@CUSTOMER.type}
        ${params.dataScope}
        <if test="ruleName != null and ruleName != ''">
            <bind name="likeRuleName" value="'%' + ruleName + '%'"/>
            AND r.rule_name LIKE #{likeRuleName}
        </if>
        <if test="createBy != null and createBy != ''">
            <bind name="likeCreateBy" value="'%' + createBy +'%'"/>
            <choose>
                <when test="createBy eq 'admin'">
                    AND r.create_by = #{createBy}
                </when>
                <otherwise>
                    AND wu.user_name LIKE #{likeCreateBy}
                </otherwise>
            </choose>
        </if>
        <if test="status != null">
            AND r.status = #{status}
        </if>
        <if test="id != null">
            AND r.id = #{id}
        </if>
        ORDER BY r.create_time DESC
    </select>
    <select id="keywordInfo" resultMap="keywordInfoMap">
        SELECT r.id,
               r.rule_name,
               IFNULL(wu.user_name, 'admin') AS create_by,
               r.create_time,
               r.corp_id
        FROM we_auto_tag_rule r
                 LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
        WHERE r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@KEYWORD.type}
          AND r.id = #{ruleId}
    </select>
    <select id="groupInfo" resultMap="groupInfoMap">
        SELECT r.id,
               r.rule_name,
               IFNULL(wu.user_name, 'admin') AS create_by,
               r.create_time,
               r.corp_id
        FROM we_auto_tag_rule r
                 LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
        WHERE r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@GROUP.type}
          AND r.id = #{ruleId}
    </select>
    <select id="customerInfo"
            resultMap="customerInfoMap">
        SELECT r.id,
               r.rule_name,
               IFNULL(wu.user_name, 'admin') AS create_by,
               r.create_time,
               cret.effect_begin_time,
               cret.effect_end_time,
               r.corp_id
        FROM we_auto_tag_rule r
                 LEFT JOIN we_user wu ON wu.user_id = r.create_by AND wu.corp_id = r.corp_id
                 LEFT JOIN we_auto_tag_customer_rule_effect_time cret ON cret.rule_id = r.id
        WHERE r.label_type = ${@com.easyink.common.enums.autotag.AutoTagLabelTypeEnum@CUSTOMER.type}
          AND r.id = #{ruleId}
    </select>
    <select id="selectContainUserScopeRuleIdList" resultType="java.lang.Long">
        SELECT watr.id
        FROM we_auto_tag_rule watr
                 INNER JOIN we_auto_tag_user_rel watur ON watr.id = watur.rule_id
        WHERE watr.`status` = 1  AND watr.corp_id = #{corpId}
          AND watr.label_type = #{labelType}
        GROUP BY watr.id
    </select>
    <select id="selectRuleIdByLabelType" resultType="java.lang.Long">
        SELECT r.id
        FROM we_auto_tag_rule r
        WHERE r.status = 1
          AND r.corp_id = #{corpId}
          AND r.label_type = #{labelType}
    </select>

</mapper>

