<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.autotag.WeBatchTagTaskDetailMapper">
    <!--查询批量打标签任务详情列表-->
    <select id="selectBatchTaskDetailList" resultType="com.easyink.wecom.domain.vo.autotag.BatchTagTaskDetailVO">
        SELECT id, import_external_userid, import_union_id, import_mobile, status, tag_user_id, tag_external_userid, remark
        FROM we_batch_tag_task_detail
        WHERE task_id = #{taskId}
        <if test="customerInfo != null and customerInfo != ''">
            AND (import_external_userid LIKE CONCAT("%",#{customerInfo},"%")
            OR import_union_id LIKE CONCAT("%",#{customerInfo},"%")
            OR import_mobile LIKE CONCAT("%",#{customerInfo},"%"))
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
    <!--    批量插入/更新 批量打标签 详情状态-->
    <insert id="batchInsertOrUpdate">
        INSERT INTO we_batch_tag_task_detail
        (
        id,
        task_id,
        status,
        tag_user_id ,
        tag_external_userid,
        remark
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.taskId},
            #{item.status},
            #{item.tagUserId},
            #{item.tagExternalUserid},
            #{item.remark}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        status = VALUES(status) ,
        tag_user_id = VALUES(tag_user_id) ,
        tag_external_userid = VALUES( tag_external_userid ) ,
        remark = VALUES(remark )
    </insert>
    <insert id="batchInsert">
        INSERT INTO we_batch_tag_task_detail
        (
        id,
        task_id,
        import_external_userid,
        import_union_id ,
        import_mobile
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.taskId},
            #{item.importExternalUserid},
            #{item.importUnionId},
            #{item.importMobile}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        import_external_userid = VALUES(status) ,
        import_union_id = VALUES(tag_user_id) ,
        import_mobile = VALUES(tag_external_userid)
    </insert>
</mapper>