<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.radar.WeRadarChannelMapper">

    <resultMap id="radarChanelMap" type="com.easyink.wecom.domain.vo.radar.WeRadarChannelVO">
        <result property="id" column="id"/>
        <result property="radarId" column="radar_id"/>
        <result property="name" column="name"/>
        <result property="shortUrl" column="short_url"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="user_id"/>
        <result property="createName" column="user_name"/>
        <result property="departmentId" column="department"/>
        <result property="departmentName" column="name"/>
    </resultMap>
    <select id="list" resultMap="radarChanelMap">
        SELECT wrc.id,
        wrc.radar_id,
        wrc.name,
        wrc.short_url,
        wrc.create_time,
        wrc.create_by user_id,
        IFNULL(wu.user_name, wrc.create_by) as user_name,
        wu.department,
        wd.name
        FROM we_radar_channel wrc
        LEFT JOIN we_radar wr ON wrc.radar_id = wr.id
        LEFT JOIN we_user wu ON wu.user_id = wrc.create_by AND wu.corp_id = wr.corp_id
        LEFT JOIN we_department wd ON wu.corp_id = wd.corp_id AND wu.department = wd.id
        WHERE wrc.radar_id = #{channel.radarId}
        <if test="channel.name != null and channel.name !=''">
            AND wrc.name like concat('%', #{channel.name}, '%')
        </if>
        AND wr.corp_id = #{channel.corpId}
        order by wrc.create_time desc
    </select>
</mapper>
