<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.form.WeFormShortCodeRelMapper">

    <resultMap type="com.easyink.wecom.domain.entity.form.WeFormShortCodeRel" id="WeFormShortCodeRelMap">
        <result property="formId" column="form_id" jdbcType="INTEGER"/>
        <result property="shortCode" column="short_code" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


</mapper>

