<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyink.wecom.mapper.WeExternalUseridMappingMapper">

    <!--新增或更新映射关系-->
    <insert id="insertOrUpdate">
        INSERT INTO `we_external_userid_mapping`
        (`corp_id`, `external_userid`, `open_external_userid`)
        VALUES
        (#{corpId}, #{externalUserid}, #{openExternalUserid})
        ON DUPLICATE KEY UPDATE
        `corp_id` = VALUES(`corp_id`),
        `external_userid` = VALUES(`external_userid`),
        `open_external_userid` = VALUES(`open_external_userid`)
    </insert>
    <!--    批量插入 -->
    <insert id="batchInsertOrUpdate">
        INSERT INTO `we_external_userid_mapping`
        (`corp_id`, `external_userid`, `open_external_userid`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.corpId}, #{item.externalUserid}, #{item.openExternalUserid}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `corp_id` = VALUES(`corp_id`),
        `external_userid` = VALUES(`external_userid`),
        `open_external_userid` = VALUES(`open_external_userid`)
    </insert>
</mapper>

