<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyink.wecom.mapper.WeOperationsCenterSopDetailMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.easyink.wecom.domain.WeOperationsCenterSopDetailEntity" id="weOperationsCenterSopDetailMap">
         <result property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="sopId" column="sop_id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="userId" column="user_id"/>
        <result property="targetId" column="target_id"/>
        <result property="isFinish" column="is_finish"/>
        <result property="alertTime" column="alert_time"/>
        <result property="finishTime" column="finish_time"/>
    </resultMap>

    <resultMap id="getTaskDetailByUserIdMap" type="com.easyink.wecom.domain.vo.sop.GetTaskDetailByUserIdVO">
        <result property="sopId" column="sopId"/>
        <result property="alertTime" column="alert_time"/>
        <result property="userId" column="user_id"/>
        <result property="targetId" column="target_id"/>
        <result property="isFinish" column="is_finish"/>
        <result property="detailId" column="detailId"/>
        <result property="targetUserName" column="targetUserName"/>
        <result property="headImageUrl" column="headImageUrl"/>
        <result property="isCustomer" column="isCustomer"/>
        <result property="type" column="type"/>
        <result property="corpFullName" column="corp_full_name"/>
        <result property="targetRemark" column="targetRemark"/>
    </resultMap>

    <resultMap id="getSopTaskByUserIdMap" type="com.easyink.wecom.domain.vo.sop.GetSopTaskByUserIdVO">
        <result property="sopId" column="sopId"/>
        <result property="ruleId" column="ruleId"/>
        <result property="name" column="name"/>
        <result property="alertDate" column="alert_date"/>
        <result property="userId" column="user_id"/>
        <result property="sopType" column="sop_type"/>
        <result property="alertTime" column="alert_time"/>
        <result property="hour" column="hour"/>
        <result property="minute" column="minute"/>
    </resultMap>

    <sql id="allColumns">
      id
     ,corp_id
     ,sop_id
     ,rule_id
     ,user_id
     ,target_id
     ,is_finish
     ,alert_time
     ,finish_time
    </sql>

    <sql id="valueColumns">
       #{id}
        ,#{corpId}
        ,#{sopId}
        ,#{ruleId}
        ,#{userId}
        ,#{targetId}
        ,#{isFinish}
        ,#{alertTime}
        ,#{finishTime}
     </sql>

    <select id="getById" resultMap="weOperationsCenterSopDetailMap">
        SELECT
        <include refid="allColumns"/>
        FROM we_operations_center_sop_detail
        WHERE
        id = #{id}
        LIMIT 1
    </select>

    <select id="getByIdList" resultMap="weOperationsCenterSopDetailMap">
        SELECT
        <include refid="allColumns"/>
        FROM we_operations_center_sop_detail
        WHERE
        id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--查询客户SOP类型的执行详情-->
    <select id="selectSopDetailBySopIdWithCustomerType"
            resultType="com.easyink.wecom.domain.vo.sop.WeOperationsCenterSopDetailCustomerVO">
        SELECT
            wocsd.is_finish,
            wocsd.alert_time,
            IF(wocsd.finish_time = '2099-01-01 00:00:00',NULL,wocsd.finish_time) AS finish_time,
            wu.user_name AS chat_creator_name,
            wocsr.name AS rule_name,
            wc.name AS customer_name,
	        wc.avatar,
            wc.type AS customer_type,
            wc.corp_name
        FROM
            we_operations_center_sop_detail wocsd
        INNER JOIN
            we_customer wc ON wc.external_userid = wocsd.target_id AND wc.corp_id = wocsd.corp_id
        LEFT JOIN
            we_user wu ON wu.user_id = wocsd.user_id AND wu.corp_id = wocsd.corp_id
        LEFT JOIN
            we_operations_center_sop_rules wocsr ON wocsr.id = wocsd.rule_id AND wocsr.corp_id = wocsd.corp_id AND wocsr.sop_id = wocsd.sop_id
        WHERE wocsd.corp_id = #{query.corpId} AND wocsd.sop_id = #{query.sopId}
        <if test="query.ruleId != null ">
            AND wocsr.id = #{query.ruleId}
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND wu.user_id = #{query.userId}
        </if>
        <if test="query.customerName != null and query.customerName != ''">
            <bind name="likeCustomerName" value="'%' + query.customerName + '%'"/>
            AND wc.name LIKE #{likeCustomerName}
        </if>
        <if test="query.employName != null and query.employName != ''">
            <bind name="likeEmployName" value="'%' + query.employName + '%'"/>
            AND wu.user_name LIKE #{likeEmployName}
        </if>
        <if test="query.finishFlag != null">
            AND wocsd.is_finish = #{query.finishFlag}
        </if>
        <if test="query.beginTime != null and query.beginTime != ''">
            AND wocsd.alert_time &gt;= #{query.beginTime}
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND wocsd.alert_time &lt;= #{query.endTime}
        </if>
        ORDER BY wocsd.alert_time DESC
    </select>
    <!--查询群SOP定时类型的执行详情-->
    <select id="selectSopDetailBySopIdWithTimingType" parameterType="com.easyink.wecom.domain.dto.groupsop.FindWeSopDetailDTO"
            resultType="com.easyink.wecom.domain.vo.sop.WeOperationsCenterSopDetailByTimingTypeVO">
        SELECT
            wocsd.is_finish,
            wocsd.alert_time,
            IF(wocsd.finish_time = '${@com.easyink.common.constant.WeConstans@DEFAULT_SOP_END_TIME}', NULL, wocsd.finish_time) AS finish_time,
    	    wg.group_name AS chat_name,
    	    wu.user_name AS chat_creator_name,
            wocsr.name AS rule_name
        FROM
        we_operations_center_sop_detail wocsd
        INNER JOIN we_group wg ON wg.`owner` = wocsd.user_id AND wg.chat_id = wocsd.target_id AND wg.corp_id = wocsd.corp_id
        LEFT JOIN we_user wu ON wu.user_id = wocsd.user_id 	AND wu.corp_id = wocsd.corp_id
        LEFT JOIN we_operations_center_sop_rules wocsr ON wocsr.id = wocsd.rule_id AND wocsr.sop_id = wocsd.sop_id AND wocsr.corp_id = wocsd.corp_id
        WHERE wocsd.corp_id = #{query.corpId} AND wocsd.sop_id = #{query.sopId}
        <if test="query.ruleId != null ">
            AND wocsr.id = #{query.ruleId}
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND wu.user_id = #{query.userId}
        </if>
        <if test="query.chatName != null and query.chatName != ''">
            <bind name="likeChantName" value="'%' + query.chatName + '%'"/>
            AND wg.group_name LIKE #{likeChantName}
        </if>
        <if test="query.chatOwnerName != null and query.chatOwnerName != ''">
            <bind name="likeChatOwnerName" value="'%' + query.chatOwnerName + '%'"/>
            AND wu.user_name LIKE #{likeChatOwnerName}
        </if>
        <if test="query.finishFlag != null">
            AND wocsd.is_finish = #{query.finishFlag}
        </if>
        <if test="query.beginTime != null and query.beginTime != ''">
            AND wocsd.alert_time &gt;= #{query.beginTime}
        </if>
        <if test="query.endTime != null and query.endTime != ''">
            AND wocsd.alert_time &lt;= #{query.endTime}
        </if>
        ORDER BY wocsd.alert_time DESC
    </select>
    <!--查询群SOP循环类型的执行详情-->
    <select id="selectSopDetailBySopIdWithCycleType"
            resultType="com.easyink.wecom.domain.vo.sop.WeOperationsCenterSopDetailByCycleTypeVO">
        SELECT
        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsd.rule_id AND sop_id = wocsd.sop_id AND target_id = wg.chat_id) AS cycle_num,
        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsd.rule_id AND sop_id = wocsd.sop_id AND target_id = wg.chat_id AND is_finish = ${@com.easyink.common.constant.WeConstans@EXECUTE}) AS executed,
        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsd.rule_id AND sop_id = wocsd.sop_id AND target_id = wg.chat_id AND is_finish = ${@com.easyink.common.constant.WeConstans@UN_EXECUTE}) AS un_execute,
        wg.group_name AS chat_name,
        wu.user_name AS chat_creator_name,
        wocsr.NAME AS rule_name
        FROM
        we_operations_center_sop_detail wocsd
        INNER JOIN we_group wg ON wg.OWNER = wocsd.user_id
        AND wocsd.target_id = wg.chat_id
        AND wg.corp_id = wocsd.corp_id
        LEFT JOIN we_operations_center_sop_rules wocsr ON wocsd.rule_id = wocsr.id
        AND wocsd.corp_id = wocsr.corp_id
        LEFT JOIN we_user wu ON wu.user_id = wocsd.user_id
        AND wu.corp_id = wocsd.corp_id
        LEFT JOIN we_operations_center_sop_scope wocss ON wocss.sop_id = wocsd.sop_id
        AND wocss.corp_id = wocsd.corp_id  AND wocss.target_id = wg.chat_id
        WHERE wocsd.corp_id = #{query.corpId} AND wocsd.sop_id = #{query.sopId}
        <if test="query.ruleId != null">
            AND wocsr.id = #{query.ruleId}
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND wu.user_id = #{query.userId}
        </if>
        <if test="query.chatName != null and query.chatName != ''">
            <bind name="likeChantName" value="'%' + query.chatName + '%'"/>
            AND wg.group_name LIKE #{likeChantName}
        </if>
        <if test="query.chatOwnerName != null and query.chatOwnerName != ''">
            <bind name="likeChatOwnerName" value="'%' + query.chatOwnerName + '%'"/>
            AND wu.user_name LIKE #{likeChatOwnerName}
        </if>
        <if test="query.ruleId != null">
            GROUP BY wg.chat_id, wocsr.id
        </if>
        <if test="query.userId != null and query.userId != ''">
            GROUP BY wg.chat_id, wu.user_id
        </if>
        ORDER BY wocss.create_time DESC
    </select>
    <!--sop规则执行记录分页-->
    <select id="selectSopExecutedRulesBySopId"
            resultType="com.easyink.wecom.domain.vo.sop.WeSopExecutedRulesVO">
        SELECT
            wocsr.id AS rule_id,
            wocsr.alert_type,
        	wocsr.sop_id,
        	wocsr.name AS rule_name,
        	wocsr.alert_data1 AS alert_day,
        	wocsr.alert_data2 AS alert_time,
        	( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsr.id ) AS task_count,
        	( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsr.id AND is_finish = ${@com.easyink.common.constant.WeConstans@EXECUTE}) AS task_execute_count,
        	( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE rule_id = wocsr.id AND is_finish = ${@com.easyink.common.constant.WeConstans@UN_EXECUTE}) AS task_un_execute_count
        FROM
        	we_operations_center_sop_rules wocsr
            INNER JOIN we_operations_center_sop_detail wocsd ON wocsd.rule_id = wocsr.id
        WHERE wocsr.corp_id = #{corpId}
            AND wocsr.sop_id = #{sopId}
        <if test="ruleName != null and ruleName !=''">
            <bind name="likeRuleName" value="'%' + ruleName + '%'"/>
            AND wocsr.name LIKE #{likeRuleName}
        </if>
        GROUP BY wocsr.id
    </select>
    <!--sop员工执行记录分页-->
    <select id="selectSopExecutedUsersBySopId"
            resultType="com.easyink.wecom.domain.vo.sop.WeSopExecutedUsersVO">
        SELECT
            wu.user_id,
            wu.user_name,
            wu.head_image_url,
            wd.name AS corp_name,
            (SELECT COUNT(DISTINCT wg.chat_id) FROM we_group wg INNER JOIN we_operations_center_sop_detail wocsd ON wg.corp_id = wocsd.corp_id AND wg.chat_id = wocsd.target_id AND wg.`owner` = wocsd.user_id WHERE wocsd.sop_id = #{sopId} AND wocsd.user_id = wu.user_id) AS group_count,
        	(SELECT COUNT(1) FROM we_operations_center_sop_detail WHERE sop_id= #{sopId} AND user_id = wu.user_id) AS task_count,
        	(SELECT COUNT(1) FROM we_operations_center_sop_detail WHERE sop_id= #{sopId} AND user_id = wu.user_id AND is_finish = ${@com.easyink.common.constant.WeConstans@EXECUTE}) AS task_execute_count,
        	(SELECT COUNT(1) FROM we_operations_center_sop_detail WHERE sop_id= #{sopId} AND user_id = wu.user_id AND is_finish = ${@com.easyink.common.constant.WeConstans@UN_EXECUTE}) AS task_un_execute_count
        FROM
        	we_user wu
            LEFT JOIN we_department wd ON wd.id = wu.main_department AND wd.corp_id = wu.corp_id
            INNER JOIN we_operations_center_sop_detail wocsd ON wocsd.user_id = wu.user_id AND wocsd.sop_id = #{sopId}
        WHERE wu.corp_id = #{corpId}
        <if test="userName != null and userName !=''">
            <bind name="likeUserName" value="'%' + userName + '%'"/>
            AND wu.user_name LIKE #{likeUserName}
        </if>
        GROUP BY wu.user_id
    </select>
    <!--任务统计-->
    <select id="taskCount" resultType="com.easyink.wecom.domain.vo.sop.WeSopTaskCountVO">
        SELECT
	        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE corp_id = #{corpId} AND sop_id = #{sopId} ) AS task_count,
	        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE is_finish = ${@com.easyink.common.constant.WeConstans@EXECUTE} AND corp_id = #{corpId} AND sop_id = #{sopId}) AS task_execute_count,
	        ( SELECT COUNT( 1 ) FROM we_operations_center_sop_detail WHERE is_finish = ${@com.easyink.common.constant.WeConstans@UN_EXECUTE} AND corp_id = #{corpId} AND sop_id = #{sopId}) AS task_un_execute_count
    </select>

    <select id="getSopTaskByUserId" resultMap="getSopTaskByUserIdMap">
        SELECT
            wocs.id sopId,wocsr.id ruleId,wocsr.`name`,DATE_FORMAT( wocsd.alert_time, '%Y-%m-%d' ) alert_date ,wocsd.user_id,wocs.sop_type,time_format( wocsd.alert_time,'%H:%i') alert_time,
            time_format( wocsd.alert_time,'%H') `hour`,time_format( wocsd.alert_time,'%i') minute
            FROM we_operations_center_sop wocs
            LEFT JOIN we_operations_center_sop_detail wocsd ON wocs.corp_id = wocsd.corp_id AND wocs.id = wocsd.sop_id
            LEFT JOIN we_operations_center_sop_rules wocsr ON wocsd.corp_id = wocsr.corp_id AND wocsd.rule_id = wocsr.id
        WHERE
            wocs.corp_id = #{corpId}
            AND wocsd.user_id = #{userId}
            <if test="isFinish!=null">
                AND wocsd.is_finish = #{isFinish}
            </if>
            <if test="type!=null">
                <!-- 客户SOP -->
                <if test="type==0">
                    AND wocs.sop_type IN (${@com.easyink.common.constant.WeConstans@CUSTOMER_SOP_TYPE_VAL})
                </if>
                <!-- 群SOP -->
                <if test="type==1">
                    AND wocs.sop_type IN (${@com.easyink.common.constant.WeConstans@GROUP_SOP_TYPE_VAL})
                </if>
                <!-- 群日历 -->
                <if test="type==2">
                    AND wocs.sop_type IN (${@com.easyink.common.constant.WeConstans@GROUP_CALENDAR_TYPE_VAL})
                </if>
            </if>
            <if test="detailId!=null">
                AND wocsd.id &lt; #{detailId}
            </if>
        GROUP BY rule_id,alert_date,alert_time
        ORDER BY wocsd.id DESC
    </select>

    <select id="getTaskDetailByUserId" parameterType="com.easyink.wecom.domain.dto.groupsop.GetSopTaskDetailDTO" resultMap="getTaskDetailByUserIdMap">
        SELECT
        wocs.id sopId,
        wocsd.alert_time,
        wocsd.user_id,
        wocsd.target_id,
        wocsd.is_finish,
        wocsd.id detailId,
        IFNULL( wg.group_name, wc.`name` ) targetUserName,
        wc.avatar headImageUrl,
        IF(wg.chat_id IS NULL,1,0) isCustomer,
        wc.type,
        IF(wc.corp_full_name ='',wc.corp_name,wc.corp_full_name) corp_full_name,
        rel.remark targetRemark
        FROM
        we_operations_center_sop wocs
        LEFT JOIN we_operations_center_sop_detail wocsd ON wocs.corp_id = wocsd.corp_id AND wocs.id = wocsd.sop_id
        LEFT JOIN we_operations_center_sop_rules wocsr ON wocsd.corp_id = wocsr.corp_id AND wocsd.rule_id = wocsr.id
        LEFT JOIN we_group wg ON wg.corp_id = wocsd.corp_id AND wocsd.target_id = wg.chat_id
        LEFT JOIN we_customer wc ON wc.corp_id = wocsd.corp_id AND wocsd.target_id = wc.external_userid
        LEFT JOIN we_flower_customer_rel rel ON rel.corp_id = wocsd.corp_id AND rel.user_id=wocsd.user_id AND rel.external_userid = wocsd.target_id
        AND wocsd.target_id = wc.external_userid
        WHERE
        wocs.corp_id = #{corpId}
        AND wocsd.user_id = #{userId}
        AND wocsr.id = #{ruleId}
        <if test="isFinish!=null">
            AND wocsd.is_finish = #{isFinish}
        </if>
        AND wocsd.alert_time &gt;= #{startTime} AND wocsd.alert_time &lt;= #{endTime}
        ORDER BY wocsd.id DESC
    </select>

    <update id="finishTask">
        UPDATE we_operations_center_sop_detail
        SET is_finish = ${@com.easyink.common.constant.WeConstans@EXECUTE},
        finish_time = #{finishTime}
        WHERE
            corp_id = #{corpId}
            AND id = #{detailId}
            AND is_finish = ${@com.easyink.common.constant.WeConstans@UN_EXECUTE}
    </update>

</mapper>